<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Depósito"
          @back="hideDialog"
          @send="showDialogConfirm = true"
          buttonTitle="Aceptar"
          icon-close="close"
        ></toolbar>
        <q-form ref="formDeposit" class="q-ma-sm q-mt-md">
          <q-input
            v-model="deposit.ticket"
            label="Número de boleta"
            :rules="[(val) => !!val || 'Ingrese número de boleta']"
            maxlength="25"
            lazy-rules
          />
          <q-input
            v-model.number="deposit.amount"
            label="Monto"
            type="number"
            :rules="[
              (val) => !!val || 'Ingrese monto ',
              (val) => val.split(',').join('') > 0 || 'El monto ingresado no es válido',
            ]"
            prefix="Q "
            maxlength="15"
            lazy-rules
            @input="change"
          />

          <q-input
            v-model="deposit.date"
            @click="showPopup('depositDate', 'date')"
            label="Fecha depósito"
            mask="##/##/####"
            lazy-rules
            :rules="[(val) => !!val || 'Ingrese fecha de depósito']"
          >
            <template v-slot:append>
              <q-popup-proxy
                ref="depositDate"
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date
                  :locale="locationES"
                  v-model="date"
                  @input="() => $refs.depositDate.hide()"
                />
              </q-popup-proxy>
            </template>
          </q-input>
          <q-select
            :rules="[(val) => !!val || 'Seleccione banco ']"
            label="Banco"
            v-model="deposit.bank"
            :options="optionsBank"
          />
        </q-form>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showDialogConfirm" full-width>
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6">Confirmación</div>
        </q-card-section>

        <q-card-section class="row items-center">
          <span class="q-ml-sm"
            >El depósito se realiza automáticamente con las liquidaciones pendientes.
            <p class="q-mt-md">¿Está seguro que desea continuar?</p>
          </span>
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-red">
          <q-btn flat label="Cancelar" @click="showDialogConfirm = false" />
          <q-btn flat label="Aceptar" @click="sendData" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import Toolbar from "../common/Toolbar";
import {
  request,
  getItemStorage,
  notifySuccess,
  notifyError,
  notifyInfo,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
  },
  data: () => ({
    deposit: {
      ticket: "",
      date: "",
      amount: "",
    },
    showDialog: false,
    dataSettlement: [],
    settlement: [],
    optionsBank: [],
    date: "",
    idDeposit: "",
    locationES: {
      days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
      daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      firstDayOfWeek: 1,
    },
    showDialogSettlement: false,
    showDialogConfirm: false,
  }),
  methods: {
    hideDialog() {
      this.showDialog = false;
    },
    show() {
      this.showDialog = true;
      this.getBanks();
    },
    showPopup(qDate, model) {
      let systemDate = getItemStorage("date").split("/");
      var date = new Date(systemDate[1] + "/" + systemDate[0] + "/" + systemDate[2]);
      this.$refs[qDate].show();

      if (this.deposit[model] == "") {
        //fecha con el formato : DD/MM/YYYY
        let month =
          date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;

        let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

        this[model] = date.getFullYear() + "/" + month + "/" + day;
      }
    },
    change(newValue) {
      let temp = newValue.toString().split(".");

      if (temp[1]) {
        if (temp[1].length >= 2) {
          temp[1] = temp[1].substring(0, 2);
        }
      }

      this.deposit.amount = parseFloat(temp[0] + "." + temp[1]).toFixed(2);
    },
    sendData() {
      this.showDialogConfirm = false;
      let url =
        "deposito/app/add?idOfi=" +
        getItemStorage("idOffice") +
        "&numeroBoleta=" +
        this.deposit.ticket +
        "&monto=" +
        this.deposit.amount +
        "&fechaDeposito=" +
        this.deposit.date +
        "&idBan=" +
        this.deposit.bank.value +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");

      this.$refs.formDeposit.validate().then((response) => {
        if (response) {
          request(this, url).then((response) => {
            if (response) {
              if (response.data.estado == 1) {
                notifySuccess(this, "Depósito realizado correctamente");

                this.$emit("getData", "P");
                this.$emit("getData", "C");
                this.idDeposit = response.data.data;
                //   this.$emit("showConsolidated", this.idDeposit, true, this.deposit.ticket, true)
                this.deposit = {
                  ticket: "",
                  date: "",
                  amount: "",
                };
                this.hideDialog();
              }
            }
          });
        }
      });
    },

    formatDataSettlement(data) {
      let list = [];
      data.map((item) => {
        let model = {
          egress: item.egreso,
          date: item.fechaSis,
          id: item.id,
          entry: item.ingreso,
          number: item.numero,
          amount: item.saldo,
          selected: false,
          state: item.estado,
        };

        list.push(model);
      });
      return list;
    },
    getBanks() {
      let url = "bancos";
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            let list = [];
            response.data.data.map((item) => {
              let model = {
                label: item.nombre,
                value: item.id,
              };
              list.push(model);
            });
            this.optionsBank = list;
          }
        }
      });
    },
  },
  watch: {
    date: function (newValue, oldValue) {
      var date = newValue.split("/");
      var date2 = getItemStorage("date").split("/");

      let dateSystem = new Date(date2[2] + "/" + date2[1] + "/" + date2[0]);
      if (new Date(newValue) > dateSystem) {
        notifyInfo(this, "La fecha no debe ser mayor  a : " + getItemStorage("date"));

        this.date = oldValue;
      } else {
        if (date.length == 3) {
          this.deposit.date = date[2] + "/" + date[1] + "/" + date[0];
        }
      }
    },
  },
};
</script>
