<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58">
        <toolbar title="Depositos" @back="showDialog = false"></toolbar>
        <q-tabs v-model="tab" align="justify" narrow-indicator class="q-mb-sm">
          <q-tab class="text-red" name="pending" label="Pedientes" />
          <q-tab class="text-red" name="conciliado" label="Conciliados" />
        </q-tabs>

        <div class="q-gutter-y-sm">
          <q-tab-panels v-model="tab" animated class="" :key="keyPanel">
            <q-tab-panel name="pending">
              <div v-if="data.length > 0">
                <div v-for="(item, index) in data" :key="index" class="q-mb-sm">
                  <q-item class="shadow-1 q-pt-lg q-pb-lg item-document">
                    <q-item-section>
                      <q-item-label>No. {{ item.ticket }}</q-item-label>
                      <q-item-label style="display: inline-flex" caption lines="1"
                        ><money :amount="item.amount" :big="false"></money
                      ></q-item-label>
                    </q-item-section>

                    <q-item-section side center>
                      <q-item-label caption>{{ item.date }}</q-item-label>
                      <q-item-label caption>{{ item.state }}</q-item-label>
                    </q-item-section>
                    <!-- 28122020 se quito liquidaciones, ahora se hace de forma automatica -->
                    <q-btn
                      icon="more_vert"
                      flat
                      text-color="grey"
                      size="md"
                      round
                      class="q-ml-sm"
                      v-if="false"
                    >
                      <q-menu
                        transition-show="scale"
                        transition-hide="scale"
                        style="min-width: 170px"
                      >
                        <q-list style="min-width: 170px">
                          <!--   <q-item clickable  @click="getSettlement(item.id, false,item.ticket)">
                            <q-item-section avatar>
                              <q-icon name="fas fa-stream" color="grey-8" />
                            </q-item-section>
                            <q-item-section
                              >Liquidaciones</q-item-section
                            >
                          </q-item> -->
                          <q-item clickable>
                            <q-item-section avatar>
                              <q-icon name="fas fa-wallet" color="grey-8" />
                            </q-item-section>
                            <q-item-section>Liquidaciones</q-item-section>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-item>
                </div>
              </div>
              <div v-else>
                <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
              </div>
            </q-tab-panel>
            <q-tab-panel name="conciliado">
              <p></p>
              <div v-if="dataConsolidated.length > 0">
                <div
                  v-for="(item, index) in dataConsolidated"
                  :key="index"
                  class="q-mt-sm"
                >
                  <q-item class="shadow-1 q-pt-lg q-pb-lg item-document">
                    <q-item-section>
                      <q-item-label>No. {{ item.ticket }}</q-item-label>
                      <q-item-label style="display: inline-flex" caption lines="1"
                        ><money :amount="item.amount" :big="false"></money
                      ></q-item-label>
                    </q-item-section>

                    <q-item-section side center>
                      <q-item-label caption>{{ item.date }}</q-item-label>
                      <q-item-label caption>{{ item.state }}</q-item-label>
                    </q-item-section>
                    <!-- 28122020 se quito liquidaciones, ahora se hace de forma automatica -->
                    <q-btn
                      icon="more_vert"
                      flat
                      text-color="grey"
                      size="md"
                      round
                      class="q-ml-sm"
                    >
                      <q-menu
                        transition-show="scale"
                        transition-hide="scale"
                        style="min-width: 170px"
                        auto-close
                      >
                        <q-list style="min-width: 170px">
                          <q-item clickable @click="getSettlement(item.id)">
                            <q-item-section avatar>
                              <q-icon name="fas fa-eye" color="grey-8" />
                            </q-item-section>
                            <q-item-section>Ver integración</q-item-section>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-item>
                </div>
              </div>
              <div v-else>
                <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </div>

        <q-btn
          v-if="tab == 'pending'"
          icon="add"
          round
          flat
          style="font-size: 1em"
          @click="openDialog"
          class="bg-primary text-white fixed-bottom-right q-mr-md q-ma-md q-pa-sm"
        >
        </q-btn>
        <q-btn
          icon="event"
          flat
          style="font-size: 1em"
          round
          color="primary"
          v-else
          class="bg-primary text-white fixed-bottom-right q-mr-md q-ma-md q-pa-sm"
        >
          <q-popup-proxy
            @before-show="updateProxy"
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date v-model="proxyDate" :locale="locationES">
              <div class="row items-center justify-end q-gutter-sm">
                <q-btn label="Cancelar" color="primary" flat v-close-popup />
                <q-btn label="Aceptar" color="primary" flat @click="save" v-close-popup />
              </div>
            </q-date>
          </q-popup-proxy>
        </q-btn>
      </q-card>
    </q-dialog>
    <q-dialog
      v-model="showDialogSettlement"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Integraciones"
          @back="showDialogSettlement = false"
          icon-close="close"
        ></toolbar>
        <div class="q-mt-md">
          <div v-if="dataSettlement.length > 0">
            <div class="row q-mb-sm">
              <div class="col text-center text-grey">
                <q-icon color="blue" name="fas fa-plus-circle" /> Monto de Depósito
              </div>
              <div class="col text-center text-grey">
                <q-icon color="green" name="fas fa-check-circle" /> Monto Aplicado
              </div>
            </div>
            <q-item
              clickable
              class="shadow-1 q-pt-lg q-pb-lg item-document"
              v-for="(item, index) in dataSettlement"
              :key="index"
              @click="showDetailSettlement(item.id)"
            >
              <q-item-section>
                <q-item-label
                  >No. {{ item.number }}
                  <span class="q-ml-md">{{ item.state }}</span></q-item-label
                >
                <q-item-label caption lines="1" style="display: inline-flex">
                  <q-icon class="q-mr-xs" color="blue" name="fas fa-plus-circle" />
                  <money :amount="item.amount" :big="false"></money>
                </q-item-label>
              </q-item-section>

              <q-item-section side center>
                <q-item-label caption> {{ item.date }}</q-item-label>
                <q-item-label caption class="flex">
                  <q-icon color="green" name="fas fa-check-circle" class="q-mr-xs" />
                  <money :amount="item.applied" :big="false"></money
                ></q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div v-else>
            <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
          </div>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog v-model="showDialogDetail" full-width>
      <q-card>
        <q-linear-progress :value="1" color="primary" />

        <div class="q-pa-md">
          <div class="q-gutter-md flex" style="flex-direction: column">
            <q-input v-model="detail.number" label="Número" readonly class="q-mt-md" />
            <q-input
              v-model="detail.amount"
              label="Monto depósito"
              readonly
              class="q-mt-md"
            />
            <q-input
              v-model="detail.applied"
              label="Monto aplicado"
              readonly
              class="q-mt-md"
            />
            <q-input v-model="detail.entry" label="Ingreso" readonly class="q-mt-md" />
            <q-input v-model="detail.egress" label="Egreso" readonly class="q-mt-md" />
            <q-input v-model="detail.state" label="Estado" readonly class="q-mt-md" />
            <q-input v-model="detail.date" label="Fecha" readonly class="q-mt-md" />
          </div>
        </div>
        <q-card-actions align="right" class="bg-white text-red">
          <q-btn flat label="CERRAR" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showDialogSettlementCheck" full-width>
      <q-card>
        <q-linear-progress :value="1" color="red" />

        <div class="q-pa-md">
          <q-card-section>
            <div class="text-h6">Liqudaciones</div>
            <div>No. {{ numberDeposit }}</div>
          </q-card-section>
          <div class="q-gutter-md flex" style="flex-direction: column">
            <q-list v-if="dataSettlement.length > 0">
              <q-item
                class="q-pr-none"
                :class="{ 'q-pl-none': showCheck }"
                tag="label"
                v-ripple
                v-for="(item, index) in dataSettlement"
                :key="index"
              >
                <q-item-section
                  avatar
                  v-if="showCheck || currentDateConsolidated >= dateAvailableEdit"
                >
                  <q-checkbox v-model="item.selected" :val="item.id" color="cyan" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Número de Cierre. {{ item.number }}</q-item-label>
                  <q-item-label style="display: inline-flex" caption
                    ><money :amount="item.amount" :big="false"></money
                  ></q-item-label>
                </q-item-section>
                <q-item-section side center>
                  <q-item-label caption>{{ item.date }}</q-item-label>
                </q-item-section>
                <q-btn
                  icon="more_vert"
                  flat
                  text-color="grey"
                  size="md"
                  round
                  class="q-ml-sm"
                >
                  <q-menu
                    transition-show="scale"
                    transition-hide="scale"
                    style="min-width: 170px"
                  >
                    <q-list style="min-width: 170px">
                      <q-item clickable @click="showDetailSettlement(item.id)">
                        <q-item-section avatar>
                          <q-icon name="far fa-eye" color="grey-8" />
                        </q-item-section>
                        <q-item-section>Ver</q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn>
              </q-item>
            </q-list>
            <div v-else>
              <p class="text-center text-grey q-mt-lg">
                No se han encontrado liquidaciones.
              </p>
            </div>
          </div>
        </div>
        <q-card-actions align="right" class="bg-white text-red">
          <q-btn flat label="Cerrar" v-close-popup />
          <q-btn
            flat
            label="Aceptar"
            v-if="
              (showCheck || currentDateConsolidated >= dateAvailableEdit) &&
              dataSettlement.length > 0
            "
            @click="sendDataSettlement(null, false)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showDialogNoSquare">
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6">Depósito</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          Existe una diferencia entre el depósito y las liquidaciones seleccionadas.
          <p>¿Está seguro que desea continuar con la conciliación?</p>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            flat
            label="Aceptar"
            color="primary"
            v-close-popup
            @click="sendDataSettlement(null, true)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <deposit-payment ref="depositPayment" @getData="getData"></deposit-payment>
  </div>
</template>
<script>
import Toolbar from "../common/Toolbar";
import DepositPayment from "./DepositPayment";
import Money from "../common/Money";
import {
  request,
  getItemStorage,
  notifyError,
  notifySuccess,
  notifyInfo,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
    DepositPayment,
    Money,
  },
  props: {},
  data: () => ({
    showDialog: false,
    showDialogSettlement: false,
    showDialogSettlementCheck: false,
    showDialogNoSquare: false,
    keyPanel: 0,
    data: [],
    dataConsolidated: [],
    allDataConsolidated: [],
    dataSettlement: [],
    showDialogDetail: false,
    tab: "pending",
    idDepoist: "",
    numberDeposit: "",
    detail: {
      egress: "",
      date: "",
      id: "",
      entry: "",
      number: "",
      amount: "",
    },
    locationES: {
      days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
      daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      firstDayOfWeek: 1,
    },
    showCheck: false,
    date: "",
    proxyDate: "",
    dateAvailableEdit: "",
    currentDate: "",
    currentDateConsolidated: "",
    currentIdDeposit: null,
  }),
  created() {
    let daysMinus = 1;
    let date = getItemStorage("date").split("/");
    console.log("THIS DATE DATE " + date);
    this.date = date[2] + "/" + date[1] + "/" + date[0];
    this.proxyDate = date[2] + "/" + date[1] + "/" + date[0];
    this.currentDate = new Date(date[2] + "/" + date[1] + "/" + date[0]);
    if (this.currentDate.getDay() == 0) this.daysMinus += 2;
    else if (this.currentDate.getDay() == 6) this.daysMinus += 1;
    this.dateAvailableEdit = new Date(
      date[2] + "/" + date[1] + "/" + parseInt(date[0] - daysMinus)
    );
  },
  methods: {
    show() {
      this.showDialog = true;
      this.getData("P");
      this.getData("C");
    },

    updateProxy() {
      this.proxyDate = this.date;
    },

    save() {
      this.dataConsolidated = this.allDataConsolidated.filter(
        (item) => item.date.split("/").reverse().join("/") == this.proxyDate
      );
      this.date = this.proxyDate;
    },
    getData(state) {
      let url =
        "deposito/app/all?idOfi=" +
        getItemStorage("idOffice") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&estado=" +
        state;

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.keyPanel += 1;
            if (state == "P") this.data = this.formatData(response.data.data);
            else if (state == "C") {
              this.dataConsolidated = this.formatData(response.data.data);
              this.allDataConsolidated = this.dataConsolidated;
            }
            this.keyPanel += 1;
          }
        }
      });
    },

    formatData(data) {
      let list = [];
      data.map((item) => {
        let model = {
          ticket: item.numeroBoleta,
          amount: item.monto,
          date: item.fechaSis,
          id: item.id,
        };
        if (item.estado == "P") model.state = "Sin Conciliar";
        else if (item.estado == "C") model.state = "Conciliado Cuadrado";
        else if (item.estado == "D") model.state = "Conciliado con Diferencia";
        list.push(model);
      });
      return list;
    },
    formatDataSettlement(data) {
      let list = [];
      data.map((item) => {
        let model = {
          egress: item.egreso,
          date: item.fechaSis,
          id: item.id,
          entry: item.ingreso,
          number: item.numero,
          amount: item.saldo,
          selected: false,
          stateShort: item.estado,
          applied: item.aplicado,
        };
        if (item.estado == "P") {
          model.state = "Por liquidar";
          model.selected = false;
        } else if (item.estado == "C") {
          model.state = "Liquidado";
          model.selected = true;
        }

        list.push(model);
      });
      return list;
    },
    showDetailSettlement(id) {
      this.detail = this.dataSettlement.filter((item) => parseInt(item.id) == id)[0];
      this.showDialogDetail = true;
    },
    sendDataSettlement(idDeposit, ignoreValidationSquare) {
      debugger;
      console.log(this.idDeposit);
      let data = [];
      if (!ignoreValidationSquare) {
        let totalAmount = 0;

        let deposit = this.data.filter(
          (item) => item.id == (idDeposit ? idDeposit : this.idDeposit)
        )[0];

        this.dataSettlement.map((item) => {
          totalAmount += parseFloat(item.amount);
        });
        if (!deposit) {
          deposit = this.allDataConsolidated.filter(
            (item) => item.id == (idDeposit ? idDeposit : this.idDeposit)
          )[0];
        }
        if (parseFloat(totalAmount) != parseFloat(deposit.amount)) {
          this.showDialogNoSquare = true;
          return;
        }
      }

      this.dataSettlement.map((item) => {
        let model = {
          idLqd: item.id,
          monto: item.amount,
          estado: item.stateShort,
        };
        model.seleccion = item.selected ? "S" : "N";
        data.push(model);
      });

      let url =
        "deposito/conciliar?idDep=" +
        (idDeposit ? idDeposit : this.idDeposit) +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");
      request(this, url, data).then((response) => {
        if (response) {
          if (response.data.estado == 1) {
            notifySuccess(this, "Conciliación realizada correctamente");
            this.showDialogSettlementCheck = false;
            this.getData("P");
            this.getData("C");
          } else if (response.data.estado == 3)
            notifyInfo(this, "No se han enviado liquidaciones");
          else if ((response.data.estado = 2))
            notifyInfo(this, "No ha seleccionado ninguna liquidación");
          else if (response.data.estado == 4)
            notifyError(this, "No existe parámetro para registro contable");
        }
      });
    },
    openDialog() {
      if (this.tab == "pending") this.$refs.depositPayment.show();
    },
    getSettlement(id) {
      let url =
        "deposito/lqd?idOfi=" +
        getItemStorage("idOffice") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&idDep=" +
        id;

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.dataSettlement = this.formatDataSettlement(response.data.data);
            this.showDialogSettlement = true;
          }
        }
      });
    },
  },
};
</script>
