<template>
  <q-dialog v-model="showDialogConfirm" full-width>
    <q-card>
      <q-linear-progress :value="1" color="red" />
      <q-card-section>
        <div class="text-h6">Confirmar Depósito</div>
      </q-card-section>

      <q-card-section>
        <q-input
          v-model="depositConfirm.amount"
          label="Efectivo"
          class="q-mb-sm"
          readonly
          prefix="Q "
        />
        <q-input
          v-model="depositConfirm.document"
          label="Documentos"
          class="q-mb-sm"
          readonly
          prefix="Q "
        />

        <q-input
          v-model="depositConfirm.commission"
          label="Comisión"
          class="q-mb-sm"
          readonly
          prefix="Q "
        />

        <q-input
          v-model="depositConfirm.tax"
          label="Impuesto"
          class="q-mb-sm"
          readonly
          prefix="Q "
        />

        <q-input
          style="width: 100%"
          v-model="depositConfirm.total"
          label="Total transacción"
          class="q-mb-sm"
          readonly
          prefix="Q "
        />
      </q-card-section>
      <q-card-actions align="right" class="bg-white text-red">
        <q-btn flat label="Cancelar" @click="showDialogConfirm = false" />
        <q-btn flat label="Aceptar" @click="send" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import {
  request,
  getItemStorage,
  notifySuccess,
  notifyError,
  formatMoney
} from "../../js/Util";
export default {
  data: () => ({
    showDialogConfirm: false,
    depositConfirm: {}
  }),
  methods: {
    send() {
      this.showDialogConfirm = false;
      this.$emit("send");
    },
    show(commission) {
      let url =
        "comision/val?total=" +
        (commission.total || 0) +
        "&efectivo=" +
        (commission.amount || 0) +
        "&documento=" +
        (commission.document || 0) +
        "&idTrx=" +
        commission.idTransaction +
        "&deposito=" +
        commission.idDeposit +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");

      request(this, url).then(response => {
        if (response) {
          if (response.data.estado == 200) {
            this.showDialogConfirm = true;
            let data = response.data.data;
            this.depositConfirm = {
              commission: formatMoney( data.comision),
              tax: formatMoney( data.impuesto),
              amount:formatMoney( data.efectivo),
              document: formatMoney( data.documento),
              total: formatMoney(commission.total)
            };
          } else {
            this.send();
          }
        }
      });
    }
  }
};
</script>
