<template>
  <q-dialog
    v-model="showDialog"
    maximized
    transition-show="scale"
    transition-hide="scale"
  >
    <q-card class="q-mt-58 q-pa-md">
      <toolbar
        title="Documentos"
        @back="hideDialog"
        @send="sendData"
        buttonTitle="ACEPTAR"
        iconClose="close"
      ></toolbar>

      <div v-if="listDocuments.length == 0" class="q-mt-md">
        <div class="text-center">
          <p class="text-grey">No se han agregado documentos</p>
        </div>
      </div>
      <div v-else class="q-mt-md">
        <div>
          <div class="row">
            <p class="text-grey col">
              Documentos:
              <span class="text-bold font-money">{{
                listDocuments.length
              }}</span>
            </p>
            <div class="text-grey col text-right flex">
              <div class="flex" style="position: absolute; right: 16px">
                <span> Valor total: </span>
                <money
                  :key="keyMoney"
                  style="margin-top: -2px"
                  class="q-ml-sm"
                  :amount="totalAmountDocuments"
                ></money>
              </div>
            </div>
          </div>
        </div>
        <div :key="keyDocuments">
          <div
            v-for="(item, index) in listDocuments"
            :key="index"
            class="q-pa-xs q-pt-md q-pb-md q-mb-sm item-document shadow-1"
          >
            <q-item>
              <q-item-section>
                <q-item-label>Documento: {{ item.id }}</q-item-label>
                <q-item-label caption lines="2">{{
                  item.bank.label
                }}</q-item-label>
              </q-item-section>

              <q-item-section side top>
                <q-item-label caption class="font-money size-money"
                  ><money :amount="item.value"></money
                ></q-item-label>
                <q-item-label caption>{{ item.inFavorOf }}</q-item-label>
              </q-item-section>
              <q-btn
                size="sm"
                flat
                icon="far fa-trash-alt"
                class="q-ml-sm"
                text-color="grey"
                round
                @click="removeDocument(item)"
              ></q-btn>
            </q-item>
          </div>
        </div>
      </div>

      <!-- Dialogo agregar documento-->
      <q-dialog
        v-model="dialogAdd"
        full-width
        @hide="fabAction = false"
        maximized
      >
        <q-card class="q-mt-58">
          <!-- <q-linear-progress :value="1" color="red" /> -->
          <q-form ref="formDocument">
              <toolbar
              title="Agregar Documento"
              @back="dialogAdd = false"
              @send="addDocument"
              buttonTitle="ACEPTAR"
            ></toolbar>
   
            <q-separator />
            <div class="q-ma-md">
              <q-select
                :rules="[(val) => !!val || 'Seleccione banco ']"
                label="Banco"
                v-model="document.bank"
                :options="optionsBank"
              />
              <q-input
                v-model.number="document.id"
                label="No. de documento"
                type="number"
                :rules="[(val) => !!val || 'Ingrese número de documento ']"
                maxlength="50"
              />

              <!--  <q-input
                v-model="document.value"
                label="Valor"
                :rules="[val => !!val || 'Ingrese monto ',  val => val > 0 || 'El monto ingresado no es válido']"
                prefix="Q "
                maxlength="15"
                mask="#.#"
                reverse-fill-mask
                hint="Formato: #.##"
                input-class="text-right"
                @input="change"
                lazy-rules
              />

 -->
              <q-input
                v-model.number="document.value"
                label="Valor"
                type="number"
                :rules="[
                  (val) => !!val || 'Ingrese valor ',
                  (val) => val > 0 || 'El valor ingresado no es válido',
                ]"
                prefix="Q "
                maxlength="15"
                lazy-rules
                @input="change"
              />
              <q-input
                v-model="document.inFavorOf"
                :label="labelInFavorOf"
                :rules="[(val) => !!val || ruleInFavorOf]"
                maxlength="50"
              />
            </div>
            <q-card-actions align="center">
              <q-btn
                flat
                label="Agregar Imagen"
                color="primary"
                icon="fas fa-camera-retro"
                class="shadow-1"
                @click="showDialogPicture = true"
                :disable="document.sourceImage1 && document.sourceImage2"
              />
            </q-card-actions>
            <div class="row q-ma-md">
              <div
                v-if="document.sourceImage1"
                class="col q-mr-sm position-relative"
                style="position: relative"
              >
                <q-btn
                  icon="close"
                  color="white"
                  class="button-close-img"
                  text-color="grey"
                  round
                  size="sm"
                  @click="document.sourceImage1 = null"
                ></q-btn>
                <expandable-image class="image-document" :src="document.sourceImage1" />
              </div>
              <div v-if="document.sourceImage2" class="col" style="position: relative">
                <q-btn
                  icon="close"
                  color="white"
                  class="button-close-img"
                  text-color="grey"
                  round
                  size="sm"
                  @click="document.sourceImage2 = null"
                ></q-btn>
                <expandable-image class="image-document" :src="document.sourceImage2" />
              </div>
            </div>
          </q-form>
        </q-card>
      </q-dialog>
      <!-- Dialogo agregar seleccionar tipo de recurso-->
      <q-dialog v-model="showDialogPicture" position="bottom" full-width>
        <q-card>
          <q-list
            class="q-mt-md q-mb-md"
            style="min-width: 300px"
            @click="showDialogPicture = false"
          >
            <q-item clickable @click="getPicture('CAMERA')">
              <q-item-section side>
                <q-icon name="fas fa-camera" />
              </q-item-section>
              <q-item-section>Cámara</q-item-section>
            </q-item>

            <q-item clickable @click="getPicture('GALLERY')">
              <q-item-section side>
                <q-icon name="fas fa-images" />
              </q-item-section>
              <q-item-section>Galería</q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </q-dialog>
      <q-fab
        round
        size="lg"
        color="primary"
        icon="add"
        v-model="fabAction"
        class="fab-action"
        @click="showDialogAdd"
      />
    </q-card>
  </q-dialog>
</template>

<script>
import { request } from "../../js/Util";
import Toolbar from "../common/Toolbar";
import Money from "../common/Money";
import {
  notifySuccess,
  notifyError,
  notifyInfo,
  uuid
} from "../../js/Util";
export default {
  props: {
    labelFavorOf: String,
  },
  components: {
    Toolbar,
    Money,
  },
  data: () => ({
    document: {
      bank: "",
      id: "",
      value: null,
      inFavorOf: "",
      sourceImage1 : null,
      sourceImage2 : null,
      uuid : null
    },
    dialogAdd: false,
    showDialog: false,
    listDocuments: [],
    optionsBank: [],
    fabAction: false,
    labelInFavorOf: "",
    ruleInFavorOf: "",
    keyDocuments: 1,
    totalAmountDocuments: 0,
    showDialogPicture: false,
    keyMoney: 1,
  }),
  created() {
    (this.labelInFavorOf = this.labelFavorOf
      ? this.labelFavorOf
      : "Girado a nombre de "),
      (this.ruleInFavorOf = this.labelFavorOf
        ? "Ingrese a favor de "
        : "Ingrese girado a nombre de ");
  },
  methods: {
    show() {
      this.showDialog = true;

      this.getBanks();
    },
    hideDialog() {
      this.showDialog = false;
    },
    sendData() {
      this.hideDialog();
      this.$emit("documents", this.listDocuments, true);
      //  this.listDocuments = [];
    },
    showDialogAdd() {
      this.fabAction = true;
      this.dialogAdd = true;
    },
    addDocument() {
      this.$refs.formDocument.validate().then((response) => {
        if (response) {
          if(this.document.sourceImage1 && this.document.sourceImage2){
            this.document.uuid = uuid()
            this.listDocuments.push(this.document);
            this.document = {
              bank: "",
              id: "",
              amount: "",
              value: "",
              inFavorOf: "",
              sourceImage1: null,
              sourceImage2 : null,
              uuid : null
            };
            this.dialogAdd = false;
            this.fabAction = false;
            this.totalAmountDocuments = this.getTotal();
            this.keyMoney++;

            this.$emit("documents", this.listDocuments, false);
          }else{
            notifyInfo(this, "Debe agregar dos imagenes")
          }
        }
      });
    },
    removeDocument(item) {
      this.listDocuments.map((element, index) => {
        if (element.id == item.id) {
          this.listDocuments.splice(index, 1);
        }
      });
      this.keyDocuments++;
      this.totalAmountDocuments = this.getTotal();
      this.keyMoney++;

    
      this.$emit("documents", this.listDocuments, false);
    },
    getTotal() {
      let total = 0;
      this.listDocuments.map((item) => {
        total += parseFloat(parseFloat(item.value).toFixed(2));
      });
      console.log(total);
      return parseFloat(total).toFixed(2);
    },
    getBanks() {
      let url = "bancos";
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            let list = [];
            response.data.data.map((item) => {
              let model = {
                label: item.nombre,
                value: item.id,
              };
              list.push(model);
            });
            this.optionsBank = list;
          }
        }
      });
    },
    change(newValue) {
      let temp = newValue.toString().split(".");

      if (temp[1]) {
        if (temp[1].length >= 2) {
          temp[1] = temp[1].substring(0, 2);
        }
      }

      this.document.value = parseFloat(temp[0] + "." + temp[1]).toFixed(2);
    },
    getPicture(type) {
      if(window.cordova){
        let sourceType;
        let context = this
        if (type == "CAMERA") sourceType = Camera.PictureSourceType.CAMERA;
        else sourceType = Camera.PictureSourceType.PHOTOLIBRARY;
      
        navigator.camera.getPicture(
          function (imageURI) {
              if(window.cordova && device.platform == "iOS"){
                StatusBar.hide();
                StatusBar.show();
              }
            
            if(!context.document.sourceImage1)
              context.document.sourceImage1 = "data:image/jpeg;base64," + imageURI;
            else
                context.document.sourceImage2 = "data:image/jpeg;base64," + imageURI;
          },
          function (error) {
            notifyError(context, "Error al tomar la imagen")
            console.log(error);
          },
          {
            quality: 50,
            destinationType: Camera.DestinationType.DATA_URL,
            sourceType: sourceType,
          }
        );
      }
    },
  },
};
</script>
<style lang="sass">
.image-document
  width: 100%

.button-close-img
  position: absolute
  z-index: 1
  right: -5px
  top: -10px
</style>
