<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Depósito Grupal"
          @back="hide"
          buttonTitle="Aceptar"
          @send="validInputs"
        ></toolbar>

        <q-form ref="formDeposit">
          <q-input
            v-model="deposit.groupNumber"
            label="Número de grupo"
            class="q-mt-md"
            :rules="[(val) => !!val || 'Ingese número de grupo']"
            @blur="validDeposit()"
            type="number"
          />

          <q-select
            ref="transactions"
            v-model="deposit.transaction"
            :options="optionsTransactions"
            label="Transacción"
            :rules="[(val) => !!val || 'Seleccione transacción ']"
            lazy-rules
          />

          <q-input
            label="Efectivo"
            type="text"
            v-model="amountDeposit"
            :rules="[
              (val) => !!val || 'Ingrese efectivo ',
              (val) => val.split(',').join('') >= 0 || 'El monto no debe ser negativo',
            ]"
            maxlength="15"
            v-currency="{ currency: null, locale: 'en' }"
            prefix="Q "
          />

          <q-input
            v-model="documentsTotal"
            label="Documentos"
            counter
            v-if="document == 'S'"
            prefix="Q "
            readonly
          >
            <template v-slot:hint style="text-align: right">
              <div style="text-align: right">
                {{ hintDocuments }}
              </div>
            </template>
          </q-input>

          <q-input
            v-model.lazy="deposit.transactionTotal"
            prefix="Q "
            label="Total transacción"
            readonly
          />

          <q-input
            v-model="deposit.phone"
            label="Teléfono"
            type="tel"
            prefix="(502) "
            mask="########"
            :rules="[
              (val) => !!val || 'Ingrese teléfono',
              (val) => val.length >= 8 || 'Número de teléfono no válido',
            ]"
            lazy-rules
            class="q-mt-md"
          />
          <q-input v-model="deposit.comment" label="Comentario" />

          <q-card flat bordered v-if="groupDetail.length > 0">
            <q-card-section>
              <div class="text-h6">Cuentas del grupo</div>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <q-form ref="formDetail">
                <q-list v-for="(item, index) in groupDetail" :key="index" separator>
                  <q-item class="q-pl-none q-pr-none">
                    <q-item-section>
                      <q-item-label>{{ item.clientName }} </q-item-label>
                      <q-item-label caption lines="1">{{
                        item.numberAccount
                      }}</q-item-label>
                    </q-item-section>

                    <q-item-section side center style="width: 30%; min-width: 100px">
                      <q-item-label caption>
                        <q-input
                          v-model="item.value"
                          :dense="true"
                          prefix="Q "
                          maxlength="15"
                          @input="changeAmount"
                          :rules="[
                            (val) => !!val || 'Ingrese monto',
                            (val) =>
                              val.split(',').join('') >= 0 ||
                              'El monto no debe ser negativo',
                          ]"
                          v-currency="{ currency: null, locale: 'en' }"
                        />
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-form>
              <p class="text-grey text-right q-mt-sm">
                Total: Q {{ formatMoney2(groupTotal) }}
              </p>
            </q-card-section>
          </q-card>

          <div class="flex flex-center">
            <q-btn
              v-if="document == 'S'"
              color="primary"
              class="flex flex-center q-mt-md"
              flat
              label="Agregar documentos"
              @click="showDocuments"
            ></q-btn>
          </div>
        </q-form>

        <documents
          ref="documents"
          @documents="formatDocuments"
          labelFavorOf="A favor de "
        ></documents>
        <q-dialog v-model="showDialogPhone" full-width>
          <q-card>
            <q-linear-progress :value="1" color="red" />
            <q-card-section>
              <div class="text-h6">Número telefónico</div>
            </q-card-section>

            <q-card-section class="row items-center">
              <span class="q-ml-sm"
                >Confirmar que el número de teléfono (502) {{ deposit.phone }} es correcto
              </span>
            </q-card-section>
            <q-card-actions align="right" class="bg-white text-red">
              <q-btn flat label="Cancelar" @click="showDialogPhone = false" />
              <q-btn flat label="Confirmar" @click="uploadImages" />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Toolbar from "../common/Toolbar";
import Documents from "./Documents";
import { VMoney } from "v-money";
import axios from "axios";

import {
  URL_BASE,
  request,
  getItemStorage,
  notifySuccess,
  notifyError,
  notifyInfo,
  bindMoney,
  formatMoney,
  base64toBlob,
} from "../../js/Util";
var options = [
  {
    label: "",
    value: "",
  },
];

export default {
  components: {
    Toolbar,
    Documents,
  },
  data: () => ({
    showDialog: false,
    document: getItemStorage("document"),
    deposit: {
      groupNumber: "",
      transaction: "",
      money: "",
      clientName: "",
      amount: "",
      transactionTotal: "",
      comment: "",
      phone: "",
    },
    optionsTransactions: options,
    isValidGroup: false,
    hintDocuments: "",
    documentsTotal: "",
    amountDeposit: 0,
    principalAccount: {},
    showDialogPhone: false,
    groupAccounts: [],
    groupDetail: [],
    listDocuments: [],
    money: bindMoney,
    value: 10000,
    groupTotal: 0,
    keyTransaction: 0,
    listDocumentsWithImage: [],
  }),
  directives: { money: VMoney },
  methods: {
    hide() {
      this.showDialog = false;
    },
    validInputs() {
      if (this.isValidGroup) {
        this.$refs.formDeposit.validate().then((response) => {
          if (response) {
            this.$refs.formDetail.validate().then((r) => {
              if (r) {
                if (this.amountDeposit == 0 && this.listDocumentsWithImage.length == 0) {
                  notifyError(this, "El efectivo ingresado no es válido");
                  return;
                }

                let totalDetail = 0;
                let totalDocuments = 0;
                this.groupDetail.map(
                  (item) =>
                    (totalDetail += parseFloat(
                      item.value.length == 0 ? 0 : (item.value + "").split(",").join("")
                    ))
                );

                this.groupDetail.map((item) =>
                  item.value.length == 0 ? (item.value = 0) : item.value
                );
                this.listDocuments.map(
                  (item) => (totalDocuments += parseFloat(item.valor))
                );

                if (
                  totalDetail ==
                  totalDocuments +
                    parseFloat((this.amountDeposit + "").split(",").join(""))
                )
                  this.showDialogPhone = true;
                else
                  notifyError(
                    this,
                    "El total de la transacción debe coincidir con la suma del detalle de las cuentas"
                  );
              }
            });
          }
        });
      } else {
        notifyError(this, "La cuenta no es válida");
      }
    },

    uploadImages() {
      //Enviamos todas las imagenes de los documentos
      if (this.listDocumentsWithImage.length > 0) {
        this.$q.loading.show();
        let requestList = [];
        this.listDocumentsWithImage.map((item) => {
          var formdata = new FormData();
          var imgBlob1 = base64toBlob(item.sourceImage1);
          var imgBlob2 = base64toBlob(item.sourceImage2);

          formdata.append("file1", imgBlob1, "image1.jpg");
          formdata.append("file2", imgBlob2, "image2.jpg");

          let url =
            "archivo/upload?userKey=" +
            getItemStorage("userKey") +
            "&uuid=" +
            item.uuid +
            "&idUsu=" +
            getItemStorage("idUser");
          requestList.push(
            axios.post(URL_BASE + url, formdata, {
              headers: {
                "content-type": "multipart/form-data",
              },
            })
          );
        });
        axios
          .all(requestList)
          .then(
            axios.spread((...responses) => {
              responses.map((response) => console.log(response));

              if (
                responses.filter((item) => item.data.estado == 200).length ==
                responses.length
              ) {
                this.listDocumentsWithImage.map((item) => {
                  item.pathImage1 = responses.filter(
                    (res) => res.data.data.uuid == item.uuid
                  )[0].data.data.rutaImagen1;

                  item.pathImage2 = responses.filter(
                    (res) => res.data.data.uuid == item.uuid
                  )[0].data.data.rutaImagen2;
                });

                this.listDocuments.map((item, index) => {
                  item.rutaImagen1 = this.listDocumentsWithImage[index].pathImage1;

                  item.rutaImagen2 = this.listDocumentsWithImage[index].pathImage2;
                });

                console.log(this.listDocuments);
                console.log(this.listDocumentsWithImage);
                this.$q.loading.hide();
                this.sendData();
              } else {
                notifyError(this, "Error al subir las imagenes");
                this.$q.loading.hide();
              }
            })
          )
          .catch((errors) => {
            console.error(errors);
          });
      } else {
        this.sendData();
      }
    },
    sendData() {
      this.groupDetail.map((item, index) => {
        if (parseFloat((item.value + "").split(",").join("")) > 0) {
          this.groupAccounts[index].valor = (item.value + "").split(",").join("");
        } else {
          notifyError(this, "No se permiten montos negativos");
          return;
        }
      });

      let url =
        "deposito/grupo?" +
        "idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");

      let body = {
        numeroGrupo: this.deposit.groupNumber,
        idTrn: this.deposit.transaction.value,
        telefono: this.deposit.phone,
        efectivo: parseFloat((this.amountDeposit + "").split(",").join("")),
        documento: parseFloat(
          !this.documentsTotal ? 0 : (this.documentsTotal + "").split(",").join("")
        ),
        comentario: this.deposit.comment,
        doctos: this.listDocuments,
        cuentas: this.groupAccounts,
        idOfi: getItemStorage("idOffice"),
      };

      request(this, url, body).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            if (response.data.data.maximo == "S") {
              this.showDialog = false;
              this.initVar();
              notifyInfo(this, "Se ha superado el máximo");
              return;
            }

            if (response.data.data.id == 1) {
              notifySuccess(this, "Se ejecutó correctamente el depósito de grupo");
              this.initVar();
              this.showDialog = false;
            } else notifyError(this, response.data.data.descripcion);
          } else {
            notifyError(this, response.data.mensaje);
          }
        }
      });
    },
    show() {
      this.showDialog = true;
      this.initVar();
    },
    initVar() {
      (this.deposit = {
        groupNumber: "",
        transaction: "",
        money: "",
        clientName: "",
        amount: "",
        transactionTotal: "",
        comment: "",
        phone: "",
      }),
        // (this.optionsTransactions = []);
        (this.isValidGroup = false);
      this.hintDocuments = "";
      this.documentsTotal = "";
      this.amountDeposit = "";
      this.principalAccount = {};
      this.showDialogPhone = false;
      this.groupAccounts = [];
      this.groupDetail = [];
      this.listDocuments = [];
      this.listDocumentsWithImage = [];
      options.length = 0;
      options.push({ label: "", value: "" });
    },
    changeAmount(newValue) {
      this.groupTotal = 0;
      this.groupDetail.map((item) => {
        console.log(item);
        let temp1 = item.value ? item.value : 0 + "".split(",").join("");
        this.groupTotal += parseFloat(temp1.split(",").join(""));
      });
    },
    showDocuments() {
      this.$refs.documents.show();
    },
    formatDocuments(data, notify) {
      this.documentsTotal = 0;
      this.listDocuments = [];
      this.listDocumentsWithImage = data;
      if (this.listDocumentsWithImage.length > 0 && this.amountDeposit == "") {
        this.amountDeposit = "0";
      }
      data.map((item) => {
        let model = {
          idBan: item.bank.value,
          noDocumento: item.id,
          valor: item.value,
          girado: item.inFavorOf,
        };
        this.documentsTotal += parseFloat(item.value);
        this.listDocuments.push(model);
      });
      if (notify) notifyInfo(this, "Documentos :  " + data.length);
      this.hintDocuments = "Documentos agregados:  " + data.length;

      let amount = parseFloat(
        !this.amountDeposit ? 0 : this.amountDeposit.split(",").join("")
      );
      this.deposit.transactionTotal = formatMoney(
        parseFloat(amount + this.documentsTotal)
      );
      this.documentsTotal = formatMoney(parseFloat(this.documentsTotal));
    },
    validDeposit() {
      if (this.deposit.groupNumber.length > 0) {
        let url =
          "deposito/grupo/val?noGrupo=" +
          this.deposit.groupNumber +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado > 4) {
              this.isValidGroup = true;
              this.groupAccounts = [];
              this.groupDetail = [];
              let object = response.data.data;

              object.map((item, index) => {
                if (item.principal == "S") this.deposit.phone = item.telefono;

                let detail = {
                  clientName: item.cliente,
                  numberAccount: item.numero,
                  value: item.valor,
                };
                this.groupDetail.push(detail);
                let model = {
                  id: item.id,
                  valor: item.valor,
                  deposito: item.deposito,
                };
                this.groupAccounts.push(model);
                this.groupTotal = 0;
                this.groupDetail.map((item) => {
                  console.log(item);
                  this.groupTotal += parseFloat(
                    (item.value ? item.value : 0) + "".split(",").join("")
                  );
                });
                if (index == 0) this.getTransactionType(item.tipoInstrumento);
              });
            } else {
              //  this.optionsTransactions = [];
              options.length = 0;
              this.groupDetail = [];
              this.groupDetail = [];
              this.deposit.transaction = null;
              notifyError(this, response.data.mensaje);
            }
          }
        });
      }
    },
    getTransactionType(tipoInstrumetno) {
      let url = "transaccion/tipo?idgru=19" + "&tpro=" + tipoInstrumetno + "&tmov=I";

      request(this, url).then((response) => {
        if (response) {
          options.length = 0;

          response.data.map((item) => {
            let model = {
              value: item.idTrn,
              label: item.descripcionTrn,
            };
            options.push(model);
          });
          this.$refs.transactions.__updateMenu(true);
        }
      });
    },
    formatMoney2(value) {
      return formatMoney(value);
    },
  },
  watch: {
    amountDeposit: function (newValue, oldValue) {
      var documents = parseFloat(
        !this.documentsTotal ? 0 : this.documentsTotal.split(",").join("")
      );
      var value = parseFloat(
        !newValue || newValue.length == 0 || newValue == "NaN"
          ? 0
          : newValue.split(",").join("")
      );

      this.deposit.transactionTotal = formatMoney(value + documents);
      if (documents > 0 && this.amountDeposit == "") this.amountDeposit = "0";
    },
  },
};
</script>
<style lang="sass">
.q-field__counter
  display: none
</style>
