<template style="height: 100%">
  <div style="height: 100%">
    <div style="height: 100%" v-if="openOffice">
      <q-layout view="lHh Lpr lff" container style="height: 100vh" class="">
        <q-header>
          <q-toolbar class="text-white text-left bg-primary q-pt-sm q-pb-sm">
            <q-toolbar-title class="text-cente text-left q-ml-md">
              <span v-if="nameOffice != null && nameOffice.length > 0">
                {{ nameOffice }}
              </span>
              <span v-else>Bienvenido</span>
            </q-toolbar-title>
            <q-btn
              flat
              text-color="white"
              icon="menu"
              class="q-mr-sm q-pb-sm q-mt-sm"
              @click="showDialogMenu = !showDialogMenu"
            >
            </q-btn>
          </q-toolbar>
        </q-header>

        <q-drawer v-model="showDialogMenu" show-if-above :width="275" :breakpoint="1000">
          <q-scroll-area
            style="
              height: calc(100% - 150px);
              margin-top: 150px;
              border-right: 1px solid #ddd;
            "
          >
            <q-list padding @click="showDialogMenu = false">
              <q-item
                clickable
                v-ripple
                v-if="isEnablePage('mSolicitudAgente')"
                @click="showComponent('membershipRequest')"
              >
                <q-item-section side>
                  <q-icon name="face" />
                </q-item-section>
                <q-item-section>Solicitud afiliación agente</q-item-section>
              </q-item>
              <q-item
                v-if="isEnablePage('mSolicitudProducto')"
                clickable
                v-ripple
                @click="isOpenOffice('showDialogProductRequest')"
              >
                <q-item-section side>
                  <q-icon name="send" />
                </q-item-section>
                <q-item-section>Solicitud de ahorro</q-item-section>
              </q-item>

              <q-item
                v-if="isEnablePage('mSolicitudCredito')"
                clickable
                v-ripple
                @click="isOpenOffice('showDialogCreditRequest')"
              >
                <q-item-section side>
                  <q-icon name="account_balance_wallet" />
                </q-item-section>
                <q-item-section>Solicitud de crédito</q-item-section>
              </q-item>

              <q-item clickable v-ripple v-if="isEnablePage('bAperturaOficinas')">
                <q-item-section side>
                  <q-icon name="check" />
                </q-item-section>
                <q-item-section @click="showComponent('office')"
                  >Apertura agente Share</q-item-section
                >
              </q-item>

              <q-item
                clickable
                v-ripple
                @click="showComponent('bankClosing')"
                v-if="isEnablePage('bAperturaOficinas')"
              >
                <q-item-section side>
                  <q-icon name="close" />
                </q-item-section>
                <q-item-section>Cierre agente Share</q-item-section>
              </q-item>
              <q-item
                v-ripple
                clickable
                @click="showComponent('commissionDetail')"
                v-if="isEnablePage('bDetalleComisiones')"
              >
                <q-item-section side>
                  <q-icon name="view_agenda" />
                </q-item-section>
                <q-item-section>Detalle de comisiones</q-item-section>
              </q-item>
              <q-item
                v-ripple
                v-if="isEnablePage('bLiquidacionesPendientes')"
                clickable
                @click="showComponent('pendingSettelement')"
              >
                <q-item-section side>
                  <q-icon name="history" />
                </q-item-section>
                <q-item-section>Liquidaciones pendientes</q-item-section>
              </q-item>
              <q-item
                v-ripple
                clickable
                @click="showDialogOffice = true"
                v-if="dataOffice.length > 1"
              >
                <q-item-section side>
                  <q-icon name="sync" />
                </q-item-section>
                <q-item-section>Cambiar agente</q-item-section>
              </q-item>
              <q-item
                v-ripple
                v-if="isEnablePage('bOficinaDeposito')"
                clickable
                @click="showComponent('deposit')"
              >
                <q-item-section side>
                  <q-icon name="attach_money" />
                </q-item-section>
                <q-item-section>Boleta depósito</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="showComponent('changePassword')">
                <q-item-section side>
                  <q-icon name="security" />
                </q-item-section>

                <q-item-section>Cambiar contraseña</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="help">
                <q-item-section side>
                  <q-icon name="help_outline" />
                </q-item-section>
                <q-item-section>Ayuda</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="closeSession">
                <q-item-section side>
                  <q-icon name="power_settings_new" />
                </q-item-section>
                <q-item-section>Cerrar sesión</q-item-section>
              </q-item>
            </q-list>
          </q-scroll-area>

          <q-img
            class="absolute-top"
            src="statics/image/bgHeader.jpg"
            style="height: 150px"
          >
            <div class="absolute-bottom bg-transparent">
              <q-avatar size="56px" class="q-mb-sm">
                <q-icon size="xl" name="account_circle"></q-icon>
              </q-avatar>
              <div class="text-weight-bold">{{ username }}</div>
              <div>{{ nameOffice }}</div>
            </div>
          </q-img>
        </q-drawer>

        <q-page-container>
          <q-page padding>
            <div class="q-mr-xs q-ml-xs q-mt-lg" :key="keyList">
              <div v-for="(row, index) in options" :key="index" class="row text-white">
                <div v-for="(item, i) in row" :key="i" class="col">
                  <div
                    v-if="item.isEnablePage"
                    class="card q-ma-sm flex relative-position containe"
                    @click="showComponent(item.componentName)"
                    :class="item.color"
                    v-ripple
                  >
                    <div class="container-icon flex flex-center">
                      <img alt="icon payment" :src="item.image" class="icon-card" />
                    </div>
                    <span class="text-center">{{ item.title }}</span>
                  </div>
                </div>
              </div>
            </div>
          </q-page>
        </q-page-container>
      </q-layout>

      <img style="width: 300px; margin: auto" id="myImage" />

      <q-dialog v-model="showDialogHelp" full-width>
        <q-card>
          <q-linear-progress :value="1" color="red" />
          <q-card-section>
            <div class="text-h6">Ayuda</div>
          </q-card-section>

          <div class="q-pa-md">
            <div class="q-gutter-md">
              <p class="q-mb-none">{{ messageHelp }}</p>
              <p class="q-mb-none">Número telefónico de soporte</p>
              <p class="q-mt-none q-mb-none">
                {{ phoneSupport }}
                <q-btn
                  unelevated
                  size="sm"
                  class="q-ml-sm"
                  rounded
                  label="Pedir ayuda"
                  color="deep-orange"
                  icon="far fa-envelope"
                  @click="sendMessageSupport"
                ></q-btn>
              </p>

              <p class="q-mb-none">Para reversos contactar al número</p>
              <p class="q-mt-none">
                {{ phoneReverse
                }}<q-btn
                  size="sm"
                  unelevated
                  class="q-ml-sm"
                  rounded
                  label="Pedir ayuda"
                  color="deep-orange"
                  icon="far fa-envelope"
                  @click="sendMessageReverse"
                ></q-btn>
              </p>
            </div>
            <q-separator></q-separator>
            <p class="q-mt-sm q-mb-xs">
              <span class="text-bold">Usuario: </span>{{ username }}
            </p>
            <p class="q-mb-xs"><span class="text-bold">Nombre: </span> {{ name }}</p>
            <p class="q-mb-xs">
              <span class="text-bold">Agente principal: </span> {{ nameOffice }}
            </p>
          </div>
          <q-card-actions align="right" class="bg-white text-red">
            <q-btn flat label="Aceptar" @click="showDialogHelp = false" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-dialog v-model="showDialogCreditRequest" full-width>
        <q-card>
          <q-linear-progress :value="1" color="red" />
          <q-card-section>
            <div class="text-h6">Solicitud de crédito</div>
          </q-card-section>

          <div class="q-pa-md">
            <div class="q-gutter-md flex" style="flex-direction: column">
              <p>
                Eres Asociado de Cooperativa Integral de Ahorro y Crédito SHARE de
                Guatemala, R.L
              </p>
            </div>
          </div>
          <q-card-actions align="right" class="bg-white text-red">
            <q-btn flat label="No" @click="showCreditRequest(false)" />
            <q-btn flat label="Si" @click="showCreditRequest(true)" />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-dialog v-model="showDialogProductRequest" full-width>
        <q-card>
          <q-linear-progress :value="1" color="red" />
          <q-card-section>
            <div class="text-h6">Solicitud de producto</div>
          </q-card-section>

          <div class="q-pa-md">
            <div class="q-gutter-md flex" style="flex-direction: column">
              <p>
                Eres Asociado de Cooperativa Integral de Ahorro y Crédito SHARE de
                Guatemala, R.L
              </p>
            </div>
          </div>
          <q-card-actions align="right" class="bg-white text-red">
            <q-btn flat label="No" @click="showProductRequest(false)" />
            <q-btn flat label="Si" @click="showProductRequest(true)" />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <loan-payment ref="loanPayment"></loan-payment>
      <reverse ref="reverse"></reverse>
      <bank-agent
        ref="office"
        @stateCard="changeState"
        @openOfficeSuccess="openOfficeSuccess"
      ></bank-agent>
      <bank-closing ref="bankClosing" @validCard="validCards"></bank-closing>
      <change-password ref="changePassword"></change-password>
      <deposit ref="deposit"></deposit>
      <group-deposit ref="groupDeposit"></group-deposit>
      <individual-deposit ref="individualDeposit"></individual-deposit>
      <commission-detail ref="commissionDetail"></commission-detail>
      <pending-settlement ref="pendingSettelement"></pending-settlement>
      <retirement ref="retirement"></retirement>
      <credit-request ref="creditRequest"></credit-request>
      <product-request ref="productRequest"></product-request>
      <membership-request ref="membershipRequest"></membership-request>
    </div>
    <div v-else>
      <div v-if="!$q.loading.isActive && showDialogOffice == false">
        <img class="full-width" src="statics/image/empty.svg" alt="IMG_OFFICE" />
        <p class="text-grey text-h6 text-center q-pa-md">
          Lo sentimos, nos encontramos fuera de servicio
        </p>
        <div class="text-center">
          <q-btn
            color="white"
            text-color="blue"
            label="Cerrar sesión"
            @click="closeSession"
          ></q-btn>
        </div>
      </div>
    </div>
    <q-dialog v-model="showDialogOffice" full-width persistent>
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6">Seleccione oficina</div>
        </q-card-section>

        <div class="q-pa-md">
          <div class="q-gutter-md flex" style="flex-direction: column">
            <q-radio
              v-for="(item, index) in dataOffice"
              :key="index"
              v-model="officeSelected"
              :val="item.id"
              color="red"
              :label="item.nombreOfi"
              @input="nameOffice = item.nombreOfi"
            ></q-radio>
          </div>
        </div>
        <q-card-actions align="right" class="bg-white text-red">
          <q-btn flat label="Aceptar" @click="chooseOffice" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import LoanPayment from "./LoanPayment";
import BankAgent from "../options/BankAgent";
import Reverse from "./Reverse";
import BankClosing from "../options/BankClosing";
import ChangePassword from "../security/ChangePassword";
import Deposit from "./Deposit";
import GroupDeposit from "./GroupDeposit";
import IndividualDeposit from "./IndividualDeposit";
import CommissionDetail from "../options/CommissionDetail";
import PendingSettlement from "../options/PendingSettlement";
import Retirement from "./Retirement";
import CreditRequest from "../options/CreditRequest";
import ProductRequest from "../options/ProductRequest";
import MembershipRequest from "../options/MembershipRequest";
import {
  request,
  getItemStorage,
  setItemStorage,
  removeItemStorage,
  notifyInfo,
  notifyError,
  notifySuccess,
  Result,
} from "../../js/Util";

export default {
  components: {
    LoanPayment,
    BankAgent,
    Reverse,
    BankClosing,
    ChangePassword,
    Deposit,
    GroupDeposit,
    IndividualDeposit,
    CommissionDetail,
    PendingSettlement,
    Retirement,
    CreditRequest,
    ProductRequest,
    MembershipRequest,
  },
  created() {
    if (window.cordova) {
      StatusBar.backgroundColorByHexString("#b80c26");
    }

    document.addEventListener(
      "resume",
      function () {
        this.validOffice(getItemStorage("idOffice"), true);
      },
      false
    );

    this.getOffice();
  },
  mounted() {
    if (getItemStorage("changePassword") == "S") this.showComponent("changePassword");
  },
  data: () => ({
    loading: false,
    entry: {},
    expenditure: {},
    progressEntry: 0,
    progressExpenditure: 0,
    menuMain: false,
    accessAccion: 0,
    menu: false,
    showDialogOffice: false,
    showDialogHelp: false,
    showDialogCreditRequest: false,
    showDialogProductRequest: false,
    officeSelected: null,
    dataOffice: [],
    nameOffice: null,
    color: "cyan",
    messageHelp: getItemStorage("messageHelp"),
    phoneSupport: getItemStorage("phoneSupport"),
    phoneReverse: getItemStorage("phoneReverse"),
    username: getItemStorage("username"),
    name: getItemStorage("name"),
    currentPathPicture: localStorage.getItem("currentPhoto"),
    options: [],
    showDialogMenu: false,
    pages: [],
    keyList: 0,
    drawer: false,
    openOffice: false,
  }),

  methods: {
    fillOptions() {
      this.options = [
        [
          {
            title: "Pago de Prestamos",
            image: "statics/image/pay.svg",
            color: "bg-blue",
            componentName: "loanPayment",
            isEnablePage: this.isEnablePage("bPagoPrestamo"),
          },
          {
            title: "Depósito Grupal",
            image: "statics/image/deposit2.svg",
            color: "bg-cyan",
            componentName: "groupDeposit",
            isEnablePage: this.isEnablePage("bDepositosGrupos"),
          },
        ],
        [
          {
            title: "Depósito Individual",
            image: "statics/image/piggy-bank.svg",
            color: "bg-light-green",
            componentName: "individualDeposit",
            isEnablePage: this.isEnablePage("bDepositos"),
          },
          {
            title: "Reversar",
            image: "statics/image/reverse.svg",
            color: "bg-orange",
            componentName: "reverse",
            isEnablePage: this.isEnablePage("bReverso"),
          },
        ],
        [
          {
            title: "Retiro",
            image: "statics/image/retiretment.svg",
            color: "bg-green",
            componentName: "retirement",
            isEnablePage: this.isEnablePage("bRetiros"),
          },
          {
            isEnablePage: false,
          },
        ],
      ];
    },
    validCards() {
      let url =
        "oficina/val?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idOfi=" +
        getItemStorage("idOffice");

      request(this, url).then((response) => {
        if (response) {
          this.accessAccion = response.data.estado;
          this.keyList++;
        }
      });
    },
    getOffice() {
      let url =
        "oficina/all?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == Result.SUCCESS) {
            this.dataOffice = response.data.data;
            if (this.dataOffice.length == 1) {
              setItemStorage("idOffice", this.dataOffice[0].id);
              this.validOffice(this.dataOffice[0].id);
              this.nameOffice = this.dataOffice[0].nombreOfi;
            } else if (this.dataOffice.length > 1) {
              this.showDialogOffice = true;
            }
          } else {
            notifyError(this);
          }
        }
      });
    },
    validOffice(idOfi, hideLoading = false) {
      let url =
        "horario/validar?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idOfi=" +
        idOfi;

      request(this, url, null, hideLoading).then((response) => {
        if (response) {
          if (response.data.estado == 100) {
            this.openOffice = true;
            this.getPages();
          } else if (response.data.estado == 101) {
            this.openOffice = false;
          } else notifyError(this);
        }
      });
    },
    getPages() {
      if (this.pages.length == 0) {
        let url =
          "paginas/all?idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            this.pages = response.data.data;
            this.fillOptions();
            this.validCards();
            this.getDate();
          }
        });
      } else {
        this.validCards();
      }
    },
    isEnablePage(pageName) {
      let flag = false;
      this.pages.map((item, index) => {
        console.log;
        if (item.pagina == pageName + ".xhtml") flag = true;
      });
      return flag;
    },
    startCamera(type) {
      this.$router.push("Camera");
    },
    setOptions(srcType) {
      var options = {
        quality: 50,
        destinationType: Camera.DestinationType.FILE_URI,
        // In this app, dynamically set the picture source, Camera or photo gallery
        sourceType: srcType,
        encodingType: Camera.EncodingType.JPEG,
        mediaType: Camera.MediaType.PICTURE,
        allowEdit: false,
        correctOrientation: true, //Corrects Android orientation quirks
      };
      return options;
    },

    changePassword() {},
    changeState(value) {
      this.accessAccion = value;
    },
    closeSession() {
      let url = "cerrarSesion?idUsu=" + getItemStorage("idUser");
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            removeItemStorage("idUser");
            this.$router.push("Login");
          }
        }
      });
    },
    conditions() {},
    showComponent(name) {
      console.log(this.accessAccion);
      if (
        name == "loanPayment" ||
        name == "reverse" ||
        name == "individualDeposit" ||
        name == "groupDeposit" ||
        name == "retirement" ||
        name == "membershipRequest" ||
        name == "deposit" ||
        name == "commissionDetail" ||
        name == "pendingSettelement"
      ) {
        if (this.accessAccion == 1 || this.accessAccion == 3) {
          this.$refs[name].show();
          this.menuMain = false;
        } else {
          if (this.accessAccion == 1) {
            this.$refs[name].show();
            this.menuMain = false;
          } else if (this.accessAccion == 2 || this.accessAccion == 3) {
            notifyInfo(
              this,
              "Agente cerrado, realice la apertura de la oficina para ingresar transacciones"
            );
          }
        }
      } else {
        this.$refs[name].show();
        this.menuMain = false;
      }
    },
    chooseOffice() {
      if (this.officeSelected != null && this.officeSelected.length > 0) {
        setItemStorage("idOffice", this.officeSelected);
        this.showDialogOffice = false;
        console.log(this.officeSelected);
        this.validOffice(this.officeSelected);
      }
    },
    getDate() {
      let url =
        "fechaSistema?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 1) {
            if (response.data.data != getItemStorage("date")) {
              setItemStorage("date", response.data.data);
            }
          }
        }
      });
    },
    openOfficeSuccess() {
      this.nameOffice = getItemStorage("nameOffice");
    },
    help() {
      this.showDialogHelp = true;
    },
    sendMessageSupport() {
      this.sendMessage(
        this.phoneSupport,
        "Requerimiento de Soporte, Usuario: " +
          this.username +
          ", Nombre: " +
          this.name +
          ", Agente Principal: " +
          this.nameOffice
      );
    },
    sendMessageReverse() {
      this.sendMessage(
        this.phoneReverse,
        "Requerimiento de Soporte Reverso, Usuario: " +
          this.username +
          ", Nombre: " +
          this.name +
          ", Agente Principal: " +
          this.nameOffice
      );
    },
    sendMessage(phone, message) {
      let url =
        "ticket/add?idcli=" +
        getItemStorage("idUser") +
        "&telefono=" +
        phone +
        "&mensaje=" +
        message +
        "&idOfi=" +
        getItemStorage("idOffice");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.codigo == "0001") {
            notifySuccess(this, response.data.descripcion);
          }
        }
      });
    },
    dataURLtoFile(dataurl, filename) {
      const arr = dataurl.split(",");
      const mime = arr[0].match(/:(.*?);/)[1];
      const bstr = atob(arr[1]);
      let n = bstr.length;
      const u8arr = new Uint8Array(n);
      while (n) {
        u8arr[n - 1] = bstr.charCodeAt(n - 1);
        n -= 1; // to make eslint happy
      }
      return new File([u8arr], filename, { type: mime });
    },
    showCreditRequest(value) {
      this.showDialogCreditRequest = false;
      this.$refs.creditRequest.show(value);
    },
    showProductRequest(value) {
      this.showDialogProductRequest = false;
      this.$refs.productRequest.show(value);
    },
    isOpenOffice(model) {
      if (this.accessAccion == 1 || this.accessAccion == 3) {
        this[model] = true;
      } else {
        if (this.accessAccion == 1) {
          this[model] = true;
        } else if (this.accessAccion == 2 || this.accessAccion == 3) {
          notifyInfo(
            this,
            "Agente cerrado, realice la apertura de la oficina para realizar solicitudes"
          );
        }
      }
    },
  },
};
</script>
<style lang="sass">
.card
  border-radius: 10px
  background: #eee
  display: flex
  align-content: center
  justify-content: center
  justify-items: center
  align-items: center
  flex-direction: column
  min-height: 100px
  padding: 8px
  cursor: pointer
  box-shadow: -9px 1px 13px 7px rgba(213,213,213,0.7)!important
  height: 117px

.card-loan-payment
  background: rgb(247,164,83)
  background: linear-gradient(90deg, rgba(247,164,83,1) 0%, rgba(244,91,110,1) 100%)

.card-payment-service
  background: rgb(152,89,246)
  background: linear-gradient(90deg, rgba(152,89,246,1) 0%, rgba(52,141,239,1) 100%)

.card-saving
  background: rgb(8,213,171)
  background: linear-gradient(90deg, rgba(8,213,171,1) 0%, rgba(72,219,72,1) 100%)

.card-retiro
  background: rgb(246,215,1)
  background: linear-gradient(90deg, rgba(246,215,1,1) 0%, rgba(247,155,1,1) 100%)
</style>
