<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Depósito Individual"
          @back="hide"
          buttonTitle="Aceptar"
          @send="validInputs"
        ></toolbar>

        <q-form ref="formDeposit">
          <q-input
            v-model="deposit.account"
            label="Cuenta"
            class="q-mt-md"
            :rules="[(val) => !!val || 'Ingese cuenta ']"
            @blur="validDeposit()"
          />

          <q-select
            ref="transactions"
            v-model="deposit.transaction"
            :options="optionsTransactions"
            label="Transacción"
            :rules="[(val) => !!val || 'Seleccione transacción ']"
            lazy-rules
          />
          <q-input v-model="deposit.money" label="Moneda" readonly />

          <q-input
            v-model="deposit.clientName"
            label="Cliente"
            readonly
            class="q-mt-md"
          />

          <q-input
            label="Efectivo"
            type="text"
            v-model="amountDeposit"
            :rules="[(val) => !!val || 'Ingrese efectivo ']"
            maxlength="15"
            v-currency="{ currency: null, locale: 'en' }"
            class="q-mt-md"
            prefix="Q "
          />

          <q-input
            v-if="document == 'S'"
            v-model="documentsTotal"
            label="Documentos"
            counter
            prefix="Q "
            readonly
          >
            <template v-slot:hint style="text-align: right">
              <div style="text-align: right">
                {{ hintDocuments }}
              </div>
            </template>
          </q-input>

          <q-input
            prefix="Q "
            v-model="deposit.transactionTotal"
            label="Total transacción"
            readonly
          />
          <q-input
            v-model="deposit.phone"
            label="Teléfono"
            type="tel"
            prefix="(502) "
            mask="########"
            :rules="[
              (val) => !!val || 'Ingrese teléfono',
              (val) => val.length >= 8 || 'Número de teléfono no válido',
            ]"
            lazy-rules
            class="q-mt-md"
          />

          <q-input v-model="deposit.comment" label="Comentario" />

          <div class="flex flex-center">
            <q-btn
              color="primary"
              class="flex flex-center q-mt-md"
              flat
              label="Agregar documentos"
              v-if="document == 'S'"
              @click="showDocuments"
            ></q-btn>
          </div>
        </q-form>

        <documents
          ref="documents"
          @documents="formatDocuments"
          labelFavorOf="A favor de "
        ></documents>

        <q-dialog v-model="showDialogPhone" full-width>
          <q-card>
            <q-linear-progress :value="1" color="red" />
            <q-card-section>
              <div class="text-h6">Número telefónico</div>
            </q-card-section>

            <q-card-section class="row items-center">
              <span class="q-ml-sm"
                >Confirmar que el número de teléfono (502) {{ deposit.phone }} es correcto
              </span>
            </q-card-section>
            <q-card-actions align="right" class="bg-white text-red">
              <q-btn flat label="Cancelar" @click="showDialogPhone = false" />
              <q-btn flat label="Confirmar" @click="uploadImages" />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <q-dialog v-model="dialogError" full-width>
          <q-card>
            <q-linear-progress :value="1" color="red" />
            <q-card-section>
              <div class="text-h6">Error response</div>
              <p>Response data: {{ errorData }}</p>
              <p>Response status: {{ errorStatus }}</p>
              <p>Response headers: {{ errorHeader }}</p>
              <div class="text-h6">Error request</div>
              <p>Request: {{ errorRequest }}</p>
              <div class="text-h6">Error</div>
              <p>Error message: {{ errorMessage }}</p>
            </q-card-section>

            <q-card-section class="row items-center">
              <h3></h3>
            </q-card-section>
            <q-card-actions align="right" class="bg-white text-red"> </q-card-actions>
          </q-card>
        </q-dialog>
      </q-card>
    </q-dialog>
    <dialog-confirm-commission
      ref="dialogCommission"
      @send="showDialogPhone = true"
    ></dialog-confirm-commission>
  </div>
</template>

<script>
import axios from "axios";
import Toolbar from "../common/Toolbar";
import Documents from "./Documents";
import DialogConfirmCommission from "./DialogConfirmCommission";
import { VMoney } from "v-money";
import {
  request,
  getItemStorage,
  notifySuccess,
  notifyError,
  notifyInfo,
  formatMoney,
  bindMoney,
  base64toBlob,
  URL_BASE,
} from "../../js/Util";
var options = [
  {
    label: "",
    value: "",
  },
];

export default {
  components: {
    Toolbar,
    Documents,
    DialogConfirmCommission,
  },
  data: () => ({
    showDialog: false,
    deposit: {
      id: "",
      account: "",
      transaction: "",
      money: "",
      clientName: "",
      documents: "",
      transactionTotal: "",
      comment: "",
      phone: "",
    },
    document: getItemStorage("document"),
    hintDocuments: "",
    documentsTotal: null,
    amountDeposit: "",
    optionsTransactions: options,
    listDocuments: [],
    currentAccount: {},
    showDialogPhone: false,
    money: bindMoney,
    listDocumentsWithImage: [],
    errorData: "",
    errorStatus: "",
    errorHeader: "",
    errorRequest: "",
    errorMessage: "",
    dialogError: false,
  }),
  directives: { money: VMoney },
  methods: {
    hide() {
      this.showDialog = false;
    },
    show() {
      this.showDialog = true;
      this.initVar();
    },
    initVar() {
      (this.deposit = {
        id: "",
        account: "",
        transaction: "",
        money: "",
        clientName: "",
        documents: "",
        transactionTotal: "",
        comment: "",
        phone: "",
      }),
        (this.hintDocuments = "");
      this.documentsTotal = null;
      this.amountDeposit = "";
      // this.optionsTransactions = [];
      this.listDocuments = [];
      this.listDocumentsWithImage = [];
      this.currentAccount = {};
      this.showDialogPhone = false;
      options.length = 0;
      options.push({ label: "", value: "" });
    },
    validInputs() {
      if (this.isValidAccount) {
        this.$refs.formDeposit.validate().then((response) => {
          if (response) {
            if (this.amountDeposit == 0 && this.listDocumentsWithImage.length == 0) {
              notifyError(this, "El efectivo ingresado no es válido");
              return;
            }
            let commission = {
              total: this.deposit.transactionTotal.split(",").join(""),
              amount: (this.amountDeposit + "").split(",").join(""),
              document: this.documentsTotal,
              idTransaction: this.deposit.transaction.value,
              idDeposit: this.deposit.idDeposit,
            };
            this.$refs.dialogCommission.show(commission);
          }
        });
      } else {
        notifyError(this, "La cuenta no es válida");
      }
    },
    uploadImages() {
      //Enviamos todas las imagenes de los documentos
      if (this.listDocumentsWithImage.length > 0) {
        this.$q.loading.show();
        let requestList = [];
        this.listDocumentsWithImage.map((item) => {
          var formdata = new FormData();
          var imgBlob1 = base64toBlob(item.sourceImage1);
          var imgBlob2 = base64toBlob(item.sourceImage2);

          formdata.append("file1", imgBlob1, "image1.jpg");
          formdata.append("file2", imgBlob2, "image2.jpg");

          let url =
            "archivo/upload?userKey=" +
            getItemStorage("userKey") +
            "&uuid=" +
            item.uuid +
            "&idUsu=" +
            getItemStorage("idUser");
          requestList.push(
            axios.post(URL_BASE + url, formdata, {
              headers: {
                "content-type": "multipart/form-data",
              },
            })
          );
        });
        axios
          .all(requestList)
          .then(
            axios.spread((...responses) => {
              responses.map((response) => console.log(response));

              if (
                responses.filter((item) => item.data.estado == 200).length ==
                responses.length
              ) {
                this.listDocumentsWithImage.map((item) => {
                  item.pathImage1 = responses.filter(
                    (res) => res.data.data.uuid == item.uuid
                  )[0].data.data.rutaImagen1;

                  item.pathImage2 = responses.filter(
                    (res) => res.data.data.uuid == item.uuid
                  )[0].data.data.rutaImagen2;
                });

                this.listDocuments.map((item, index) => {
                  item.rutaImagen1 = this.listDocumentsWithImage[index].pathImage1;

                  item.rutaImagen2 = this.listDocumentsWithImage[index].pathImage2;
                });

                console.log(this.listDocuments);
                console.log(this.listDocumentsWithImage);
                this.$q.loading.hide();
                this.sendData();
              } else {
                notifyError(this, "Error al subir las imagenes");
                this.$q.loading.hide();
              }
            })
          )
          .catch((errors) => {
            notifyError(this, "Error en el servidor al subir imagenes");
            this.$q.loading.hide();
            console.error(errors);
            if (errors.response) {
              // Request made and server responded
              console.log(errors.response.data);
              this.errorData = errors.response.data;
              console.log(errors.response.status);
              this.errorStatus = errors.response.status;
              console.log(errors.response.headers);
              this.errorHeader = errors.response.headers;
            } else if (errors.request) {
              // The request was made but no response was received
              console.log(errors.request);
              this.errorRequest = errors.request;
            } else {
              // Something happened in setting up the request that triggered an Error
              console.log("Error", errors.message);
              this.errorMessage = errors.message;
            }
          });
      } else {
        this.sendData();
      }
    },
    sendData() {
      let url =
        "deposito/cuenta?idCue=" +
        this.deposit.id +
        "&efectivo=" +
        (this.amountDeposit + "").split(",").join("") +
        "&documentos=" +
        (!this.documentsTotal ? 0 : (this.documentsTotal + "").split(",").join("")) +
        "&idOfi=" +
        getItemStorage("idOffice") +
        "&comentario=" +
        this.deposit.comment +
        "&telefono=" +
        this.deposit.phone +
        "&idTrn=" +
        this.deposit.transaction.value +
        "&deposito=" +
        this.deposit.idDeposit +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");
      request(this, url, this.listDocuments).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            if (response.data.data.maximo == "S") {
              this.showDialog = false;
              this.initVar();
              notifyInfo(this, "Se ha superado el máximo");
              return;
            }

            if (response.data.data.id == 1) {
              this.showDialog = false;
              this.initVar();
              notifySuccess(this, "Se ejecutó correctamente el depósito");
            } else notifyError(this, response.data.data.descripcion);
          } else {
            notifyError(this, response.data.mensaje);
          }
        }
      });
    },
    showDocuments() {
      this.$refs.documents.show();
    },
    formatDocuments(data, notify) {
      this.documentsTotal = 0;
      this.listDocuments = [];
      this.listDocumentsWithImage = data;
      if (this.listDocumentsWithImage.length > 0 && this.amountDeposit == "") {
        this.amountDeposit = "0";
      }
      data.map((item) => {
        let model = {
          idBan: item.bank.value,
          noDocumento: item.id,
          valor: item.value,
          girado: item.inFavorOf,
        };
        this.documentsTotal += parseFloat(item.value);
        this.listDocuments.push(model);
      });
      if (notify) notifyInfo(this, "Documentos :  " + data.length);
      this.hintDocuments = "Documentos agregados:  " + data.length;

      let amount = parseFloat(
        !this.amountDeposit ? 0 : this.amountDeposit.split(",").join("")
      );

      this.deposit.transactionTotal = formatMoney(
        parseFloat(amount + this.documentsTotal)
      );
      this.documentsTotal = formatMoney(parseFloat(this.documentsTotal));
    },

    changeAmount(newValue) {},

    validDeposit() {
      if (this.deposit.account.length > 0) {
        let url =
          "deposito/val?noCuenta=" +
          this.deposit.account +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 5) {
              this.isValidAccount = true;
              let object = response.data.data;
              this.deposit.money = object.moneda;
              this.deposit.clientName = object.cliente;
              this.deposit.phone = object.telefono;
              this.deposit.idDeposit = object.deposito;
              this.deposit.id = object.id;

              this.getTransactionType(object.tipoInstrumento);
            } else {
              //  this.optionsTransactions = [];
              options.length = 0;
              this.deposit.transaction = "";
              notifyError(this, response.data.mensaje);
              this.isValidAccount = false;
            }
          }
        });
      }
    },
    getTransactionType(tipoInstrumetno) {
      let url = "transaccion/tipo?idgru=20" + "&tpro=" + tipoInstrumetno + "&tmov=I";

      request(this, url).then((response) => {
        if (response) {
          options.length = 0;
          response.data.map((item) => {
            let model = {
              value: item.idTrn,
              label: item.descripcionTrn,
            };
            options.push(model);
          });
          this.$refs.transactions.__updateMenu(true);
        }
      });
    },
  },
  watch: {
    amountDeposit: function (newValue, oldValue) {
      var documents = parseFloat(
        !this.documentsTotal ? 0 : this.documentsTotal.split(",").join("")
      );
      var value = parseFloat(
        !newValue || newValue.length == 0 || newValue == "NaN"
          ? 0
          : newValue.split(",").join("")
      );

      this.deposit.transactionTotal = formatMoney(value + documents);
      if (documents > 0 && this.amountDeposit == "") this.amountDeposit = "0";
    },
  },
};
</script>
<style lang="sass">
.q-field__counter
    display: none
</style>
