<template>
  <q-dialog
    v-model="showDialog"
    maximized
    transition-show="slide-left"
    transition-hide="slide-right"
  >
    <q-card class=" ">
      <div>
        <toolbar
          title="Pago de préstamo"
          buttonTitle="Enviar"
          @back="showDialog = false"
          @send="validInputs"
        ></toolbar>
        <q-form class="margin-top-page q-ma-md" ref="formLoan">
          <div class="text-center">
            <q-btn
              outline
              color="red"
              label="Buscar préstamo por DPI"
              rounded
              @click="dialogSearch = true"
            ></q-btn>
          </div>

          <q-input
            ref="idLoan"
            v-model="loan.id"
            label="No. préstamo"
            :rules="[(val) => !!val || 'Ingrese número de préstamo ']"
            maxlength="50"
            lazy-rules
            @blur="validLoan"
            mask="NNN-NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN"
          />
          <q-input v-model="clientName" class="q-mb-md" label="Cliente" readonly />

          <q-select
            v-model="loan.transaction"
            :options="optionsTransactions"
            label="Transacción"
            :rules="[(val) => !!val || 'Seleccione transacción ']"
            lazy-rules
          />

          <q-input
            label="Efectivo"
            type="text"
            v-model="amountLoan"
            :rules="[
              (val) => !!val || documentsTotal || 'Ingrese efectivo ',
              (val) =>
                parseFloat(val.split(',').join('')) +
                  parseFloat(documentsTotal ? documentsTotal : 0) >
                  0 || 'El monto debe ser mayor a cero',
            ]"
            maxlength="15"
            v-currency="{ currency: null, locale: 'en' }"
            prefix="Q "
          />

          <q-input
            v-model="documentsTotal"
            v-if="document == 'S'"
            label="Documentos"
            counter
            prefix="Q "
            readonly
          >
            <template v-slot:hint style="text-align: right">
              <div style="text-align: right">
                {{ hintDocuments }}
              </div>
            </template>
          </q-input>
          <q-input
            prefix="Q "
            v-model="loan.transactionTotal"
            label="Total transacción"
            readonly
          />
          <q-input
            v-model="loan.comment"
            label="Comentario"
            maxlength="200"
            lazy-rules
            class="q-mt-md"
          />
          <q-input
            v-model="loan.phone"
            class="q-mt-md"
            label="Teléfono"
            type="tel"
            prefix="(502) "
            mask="########"
            :rules="[
              (val) => !!val || 'Ingrese teléfono',
              (val) => val.length >= 8 || 'Número de teléfono no válido',
            ]"
            lazy-rules
          />
          <div class="flex flex-center">
            <q-btn
              v-if="document == 'S'"
              color="primary"
              class="flex flex-center q-mt-md"
              flat
              label="Agregar documentos"
              @click="showDocuments"
            ></q-btn>
          </div>
        </q-form>
        <documents ref="documents" @documents="formatDocuments"></documents>
      </div>
    </q-card>

    <q-dialog v-model="showDialogPhone" full-width>
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6">Número telefónico</div>
        </q-card-section>

        <q-card-section class="row items-center">
          <span class="q-ml-sm"
            >Confirmar que el número de teléfono (502) {{ loan.phone }} es correcto
          </span>
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-red">
          <q-btn flat label="Cancelar" @click="showDialogPhone = false" />
          <q-btn flat label="Confirmar" @click="sendData" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogSearch" full-width @hide="hideSearch">
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6">Buscar Préstamo</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form ref="form">
            <q-input
              ref="client"
              bottom-slots
              v-model="loan.document"
              label="DPI"
              :rules="[
                (val) => !!val || 'Ingrese DPI del cliente',
                (val) => val.length >= 15 || 'Formato no válido',
              ]"
              maxlength="20"
              color="grey-8"
              mask="####-#####-####"
              @input="validClient"
              lazy-rules
              :hint="loan.client"
              :key="keyDocument"
            >
            </q-input>

            <q-select
              v-model="loan.number"
              :options="optionsLoan"
              label="Préstamo"
              :rules="[(val) => !!val || 'Seleccione préstamo']"
              color="grey-8"
            />
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-primary">
          <q-btn flat label="Cancelar" v-close-popup />
          <q-btn flat label="Aceptar" @click="setLoan" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <dialog-confirm-commission
      ref="dialogCommission"
      @send="showDialogPhone = true"
    ></dialog-confirm-commission>
  </q-dialog>
</template>
<script>
import axios from "axios";
import Toolbar from "../common/Toolbar";
import Documents from "./Documents";
import { VMoney } from "v-money";
import DialogConfirmCommission from "./DialogConfirmCommission";
import {
  request,
  getItemStorage,
  notifySuccess,
  notifyError,
  notifyInfo,
  formatMoney,
  bindMoney,
  base64toBlob,
  URL_BASE,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
    Documents,
    DialogConfirmCommission,
  },
  created() {
    console.log(this.document);
  },
  data: () => ({
    document: getItemStorage("document"),
    loan: {
      id: "",
      transactionTotal: "",
      phone: "",
      commnet: "",
      amount: "",
      phone: "",
      number: "",
      document: "",
      client: "",
    },
    showDialog: false,
    optionsTransactions: [],
    listDocuments: [],
    isValidLoan: false,
    clientName: "",
    showDialogPhone: false,
    hintDocuments: "",
    documentsTotal: null,
    amountLoan: "",
    money: bindMoney,
    listDocumentsWithImage: [],
    optionsLoan: [],
    dialogSearch: false,
    keyDocument: 0,
  }),
  directives: { money: VMoney },
  methods: {
    showDocuments() {
      this.$refs.documents.show();
    },
    show() {
      this.initVar();
      this.getTransactionsType();
      this.showDialog = true;
    },
    initVar() {
      this.loan = {
        id: "",
        transactionTotal: "",
        phone: "",
        commnet: "",
        amount: "",
        phone: "",
        number: "",
        document: "",
        client: "",
      };

      this.listDocuments = [];
      this.isValidLoan = false;
      this.clientName = "";
      this.showDialogPhone = false;
      this.hintDocuments = "";
      this.documentsTotal = null;
      this.amountLoan = "";
      (this.showDialogPhone = false), (this.listDocumentsWithImage = []);
    },
    validLoan() {
      if (this.loan.id.length > 0) {
        let url =
          "prestamo/val?noPrestamo=" +
          this.loan.id +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 1) {
              this.isValidLoan = true;
              this.clientName = response.data.data.nombre;
              this.loan.phone = response.data.data.telefono;
            } else if (response.data.estado == 3) {
              notifyError(this, "Prestamo inválido");
              this.isValidLoan = false;
            } else {
              notifyError("Se ha producido un error");
              this.isValidLoan = false;
            }
          }
        });
      }
    },
    getTransactionsType() {
      //idGtr es 17 para prestamos, para depósitos será 18, Retiros 19, etc.
      let url =
        "prestamo/trx?idGtr=17&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");

      request(this, url, this.listDocuments).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.optionsTransactions = [];
            response.data.data.map((item) => {
              let model = {
                value: item.id,
                label: item.nombre,
              };
              this.optionsTransactions.push(model);
            });
          }
        }
      });
    },
    formatDocuments(data, notify) {
      this.documentsTotal = 0;
      this.listDocuments = [];
      this.listDocumentsWithImage = data;
      if (this.listDocumentsWithImage.length > 0 && this.amountLoan == "") {
        this.amountLoan = "0";
      }
      data.map((item) => {
        let model = {
          idBan: item.bank.value,
          noDocumento: item.id,
          valor: item.value,
          girado: item.inFavorOf,
        };
        this.documentsTotal += parseFloat(item.value);
        this.listDocuments.push(model);
      });
      if (notify) notifyInfo(this, "Documentos :  " + data.length);
      this.hintDocuments = "Documentos agregados:  " + data.length;

      let amount = parseFloat(!this.amountLoan ? 0 : this.amountLoan.split(",").join(""));
      this.loan.transactionTotal = formatMoney(parseFloat(amount + this.documentsTotal));

      this.documentsTotal = formatMoney(parseFloat(this.documentsTotal).toFixed(2));
    },

    validInputs() {
      if (this.isValidLoan) {
        this.$refs.formLoan.validate().then((response) => {
          if (response) {
            if (this.amountLoan == 0 && this.listDocumentsWithImage.length == 0) {
              notifyError(this, "EL efectivo ingresado no es válido");
              return;
            }
            let commission = {
              total: this.loan.transactionTotal.split(",").join(""),
              amount: this.amountLoan.split(",").join(""),
              document: this.documentsTotal,
              idTransaction: this.loan.transaction.value,
              idDeposit: 1,
            };
            this.$refs.dialogCommission.show(commission);
          }
        });
      } else {
        notifyError(this, "Préstamo inválido");
      }
    },
    uploadImages() {
      //Enviamos todas las imagenes de los documentos
      if (this.listDocumentsWithImage.length > 0) {
        this.$q.loading.show();
        let requestList = [];
        this.listDocumentsWithImage.map((item) => {
          var formdata = new FormData();
          var imgBlob1 = base64toBlob(item.sourceImage1);
          var imgBlob2 = base64toBlob(item.sourceImage2);

          formdata.append("file1", imgBlob1, "image1.jpg");
          formdata.append("file2", imgBlob2, "image2.jpg");

          let url =
            "archivo/upload?userKey=" +
            getItemStorage("userKey") +
            "&uuid=" +
            item.uuid +
            "&idUsu=" +
            getItemStorage("idUser");
          requestList.push(
            axios.post(URL_BASE + url, formdata, {
              headers: {
                "content-type": "multipart/form-data",
              },
            })
          );
        });
        axios
          .all(requestList)
          .then(
            axios.spread((...responses) => {
              responses.map((response) => console.log(response));

              if (
                responses.filter((item) => item.data.estado == 200).length ==
                responses.length
              ) {
                this.listDocumentsWithImage.map((item) => {
                  item.pathImage1 = responses.filter(
                    (res) => res.data.data.uuid == item.uuid
                  )[0].data.data.rutaImagen1;

                  item.pathImage2 = responses.filter(
                    (res) => res.data.data.uuid == item.uuid
                  )[0].data.data.rutaImagen2;
                });

                this.listDocuments.map((item, index) => {
                  item.rutaImagen1 = this.listDocumentsWithImage[index].pathImage1;

                  item.rutaImagen2 = this.listDocumentsWithImage[index].pathImage2;
                });

                console.log(this.listDocuments);
                console.log(this.listDocumentsWithImage);
                this.$q.loading.hide();
                this.sendData();
              } else {
                notifyError(this, "Error al subir las imagenes");
                this.$q.loading.hide();
              }
            })
          )
          .catch((errors) => {
            console.error(errors);
          });
      } else {
        this.sendData();
      }
    },
    sendData() {
      let url =
        "prestamo/pago?noPrestamo=" +
        this.loan.id +
        "&efectivo=" +
        (this.amountLoan + "").split(",").join("") +
        "&documentos=" +
        (!this.documentsTotal ? 0 : (this.documentsTotal + "").split(",").join("")) +
        "&idOfi=" +
        getItemStorage("idOffice") +
        "&comentario=" +
        this.loan.comment +
        "&telefono=" +
        this.loan.phone +
        "&idTrn=" +
        this.loan.transaction.value +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");

      request(this, url, this.listDocuments).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.showDialogPhone = false;
            if (response.data.data.maximo == "S") {
              this.showDialog = false;
              this.initVar();
              this.$refs.formLoan.resetValidation();
              notifyInfo(this, "Se ha superado el máximo");
              return;
            }
            if (response.data.data.id == 10) {
              notifyError(
                this,
                "¡No puede procesar esta transacción! ¡Consulte a su asesor!"
              );
              return;
            }

            notifySuccess(this, "Pago realizado correctamente");
            this.showDialog = false;
            this.initVar();
            this.$refs.formLoan.resetValidation();
          } else if (response.data.estado == 9) {
            notifyError(this, response.data.data.descripcion);
            this.showDialogPhone = false;
          }
        }
      });
    },

    rulePhone(val) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          if (val.length > 0 && val.length < 8) {
            resolve(false || "Número de teléfono no válido");
          } else {
            resolve(true);
          }
        }, 600);
      });
    },
    validClient(val) {
      if (val && val.length >= 15) {
        let url =
          "prestamos?noDocumento=" +
          this.loan.document +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsLoan = [];
              response.data.data.map((item) => {
                let model = {
                  label: item.numero,
                  value: item.numero,
                };
                this.optionsLoan.push(model);
                //      this.loan.client = item.cliente;
              });
            } else if (response.data.estado == 404) {
              notifyError(this, "El DPI ingresado no existe");
              this.optionsLoan = [];
              this.loan.client = null;
              this.loan.number = null;
            } else notifyError(this, "Error al obtener datos");
            this.keyDocument++;
          }
        });
      }
    },
    hideSearch() {
      this.loan.document = null;
      this.loan.number = null;
      this.optionsLoan = [];
    },
    setLoan() {
      this.$refs.form.validate().then((response) => {
        if (response) {
          this.loan.id = this.loan.number.value;
          this.dialogSearch = false;
          this.validLoan();
        }
      });
    },
  },
  watch: {
    amountLoan: function (newValue, oldValue) {
      var documents = parseFloat(
        !this.documentsTotal ? 0 : this.documentsTotal.split(",").join("")
      );
      var value = parseFloat(
        !newValue || newValue.length == 0 || newValue == "NaN"
          ? 0
          : newValue.split(",").join("")
      );

      this.loan.transactionTotal = formatMoney(value + documents);
      if (documents > 0 && this.amountLoan == "") this.amountLoan = "0";
    },
  },
};
</script>
