<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58" style="padding-bottom: 60px">
        <toolbar title="Retiro" @back="hideDialog"></toolbar>

        <div class="">
          <q-stepper v-model="step" flat vertical color="primary" animated>
            <q-step
              :name="1"
              title="Documento Personal de Identificación"
              icon="fas fa-user"
              :done="step > 1"
            >
              <q-input
                v-model="identity"
                label="DPI"
                class="q-mr-md q-mt-xs col"
                mask="####-#####-####"
              >
              </q-input>

              <q-stepper-navigation>
                <q-btn
                  @click="validIdentity"
                  color="primary"
                  label="VALIDAR"
                  unelevated
                />
              </q-stepper-navigation>
            </q-step>

            <q-step :name="2" title="Generar Token" icon="fas fa-key" :done="step > 2">
              <q-select
                class="q-mt-md"
                v-model="email"
                :options="optionsEmail"
                :disable="phone != null ? true : false"
                label="Correo"
                clearable
              >
              </q-select>
              <q-select
                :disable="email != null ? true : false"
                class="q-mt-md"
                v-model="phone"
                :options="optionsPhone"
                label="Teléfono"
                clearable
              >
              </q-select>
              <q-stepper-navigation>
                <q-btn
                  @click="generateToken(email, phone, idClient, name)"
                  color="primary"
                  unelevated
                  label="GENERAR"
                />
                <q-btn
                  flat
                  @click="step = 1"
                  color="primary"
                  label="ATRÁS"
                  class="q-ml-sm"
                />
              </q-stepper-navigation>
            </q-step>

            <q-step
              :name="3"
              title="Ingresar Token"
              icon="fas fa-pen-alt"
              :done="step > 3"
            >
              <q-input v-model="token" label="Token"></q-input>
              <q-stepper-navigation>
                <q-btn color="primary" label="Validar" unelevated @click="getAccounts" />
                <q-btn
                  flat
                  @click="cancel"
                  color="primary"
                  label="Cancelar"
                  class="q-ml-sm"
                />
                <q-btn
                  flat
                  @click="step = 2"
                  color="primary"
                  label="Atrás"
                  class="q-ml-sm"
                />
              </q-stepper-navigation>
            </q-step>

            <q-step :name="4" title="Cuentas" icon="fas fa-list" :done="step > 4">
              <q-select
                class="q-mt-md"
                v-model="account"
                :options="optionsAccount"
                label="Cuenta"
                @input="changeAccount"
              />

              <q-stepper-navigation>
                <q-btn
                  color="primary"
                  label="ACEPTAR"
                  unelevated
                  @click="changeAccount"
                />
                <q-btn
                  flat
                  @click="step = 3"
                  color="primary"
                  label="Atrás"
                  class="q-ml-sm"
                />
              </q-stepper-navigation>
            </q-step>
          </q-stepper>
        </div>
      </q-card>
    </q-dialog>
    <q-dialog
      v-model="showDialogAccount"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58" style="padding-bottom: 60px">
        <toolbar
          title="Cuenta"
          @back="showDialogAccount = false"
          button-title="Aceptar"
          @send="sendData"
        ></toolbar>
        <q-form ref="formRetirement" class="q-ma-sm q-mt-md q-ml-md q-mr-md">
          <q-input
            v-model="retirement.amount"
            label="Efectivo"
            :rules="[(val) => !!val || 'Ingrese efectivo']"
            maxlength="25"
            lazy-rules
            v-currency="{ currency: null, locale: 'en' }"
            prefix="Q "
          />
          <q-select
            ref="transactions"
            v-model="retirement.transaction"
            :options="optionsTransactions"
            label="Transacción"
            :rules="[(val) => !!val || 'Seleccione transacción ']"
            lazy-rules
          />

          <q-input
            v-model="retirement.comment"
            label="Comentario"
            :rules="[(val) => !!val || 'Ingrese comentario']"
            maxlength="150"
            lazy-rules
          />
          <q-input
            v-model="retirement.phone"
            label="Teléfono"
            :rules="[(val) => !!val || 'Ingrese teléfono']"
            maxlength="25"
            lazy-rules
            mask="########"
            prefix="(502) "
            type="tel"
          />
        </q-form>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogFirms" full-width maximized>
      <q-card class="q-mt-58">
        <toolbar
          title="Validar token"
          icon-close="close"
          @back="closeDialogFirm"
        ></toolbar>

        <q-card-section class="row items-center">
          <q-carousel
            v-model="slide"
            transition-prev="slide-right"
            transition-next="slide-left"
            animated
            control-color="primary"
            class="rounded-borders full-width"
            style="height: auto"
          >
            <q-carousel-slide
              :name="index"
              class="q-pa-none"
              v-for="(item, index) in dataFirms"
              :key="index"
            >
              <div class="row">
                <q-btn
                  icon="navigate_before"
                  flat
                  text-color="primary"
                  @click="previewFirm"
                  round
                  :disable="!(dataFirms.length > 1 && slide > 0)"
                ></q-btn>
                <p class="col q-mt-sm text-subtitle1 full-width text-center">
                  {{ item.nombre }}
                </p>
                <q-btn
                  icon="navigate_next"
                  flat
                  text-color="primary"
                  @click="nextFirm"
                  round
                  :disable="!(dataFirms.length > 1 && slide < dataFirms.length - 1)"
                ></q-btn>
              </div>
              <div class="text-center q-mt-md" v-if="item.validated">
                <q-badge
                  class="q-pl-md q-pr-md q-pt-sm q-pb-sm"
                  color="green"
                  text-color="white"
                  label="Validado"
                ></q-badge>
              </div>
              <q-stepper
                v-model="stepFirm"
                ref="stepper"
                color="primary"
                animated
                alternative-labels
                flat
                class="q-pt-xl"
              >
                <q-step
                  :name="1"
                  title="Generar Token"
                  icon="fas fa-papper-send"
                  :done="stepFirm > 1"
                  class="q-pa-none"
                >
                  <q-select
                    class="q-mt-md"
                    v-model="item.emailFirm"
                    :options="
                      item.contactos
                        .filter((item) => item.tipo == 'C')
                        .map((item) => item.contacto)
                    "
                    :disable="item.phoneFirm != null ? true : false"
                    label="Correo"
                    clearable
                  >
                  </q-select>
                  <q-select
                    :disable="item.emailFirm != null ? true : false"
                    class="q-mt-md"
                    v-model="item.phoneFirm"
                    :options="
                      item.contactos
                        .filter((item) => item.tipo == 'T')
                        .map((item) => item.contacto)
                    "
                    label="Teléfono"
                    clearable
                  >
                  </q-select>
                  <q-stepper-navigation class="text-center">
                    <q-btn
                      @click="
                        generateToken(
                          item.emailFirm,
                          item.phoneFirm,
                          item.idCli,
                          item.nombre
                        )
                      "
                      color="primary"
                      unelevated
                      label="Enviar"
                      :disable="item.validated"
                    />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="2"
                  title="Ingresar Token"
                  icon="fas fa-pen-alt"
                  :done="stepFirm > 2"
                  class="q-pa-none"
                >
                  <q-input v-model="token" label="Token"></q-input>
                  <q-stepper-navigation class="text-center">
                    <q-btn
                      @click="validaTokenFirm(item, index)"
                      color="primary"
                      unelevated
                      label="VALIDAR"
                    />
                    <q-btn
                      flat
                      @click="
                        stepFirm = 1;
                        token = null;
                      "
                      color="primary"
                      label="Atrás"
                      class="q-ml-sm"
                    />
                  </q-stepper-navigation>
                </q-step>
              </q-stepper>
            </q-carousel-slide>
          </q-carousel>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import {
  request,
  getItemStorage,
  notifyError,
  notifySuccess,
  notifyInfo,
} from "../../js/Util";
import Toolbar from "../common/Toolbar";
import { VMoney } from "v-money";
export default {
  components: {
    Toolbar,
  },
  data: () => ({
    showDialog: false,
    showDialogAccount: false,
    dialogFirms: false,
    token: null,
    titleToolbar: "",
    identity: "",
    email: null,
    optionsEmail: [],
    phone: null,
    optionsPhone: [],
    emailFirm: null,
    phoneFirm: null,
    step: 1,
    name: "",
    idClient: "",
    optionsAccount: [],
    optionsTransactions: [],
    account: "",
    retirement: {
      amount: "",
      transaction: "",
      comment: "",
      phone: "",
    },
    slide: 0,
    dataFirms: [],
    stepFirm: 1,
  }),
  directives: { money: VMoney },
  methods: {
    initVar() {
      this.showDialog = false;
      this.showDialogAccount = false;
      this.token = null;
      this.titleToolbar = "";
      this.identity = "";
      this.email = null;
      this.optionsEmail = [];
      this.phone = null;
      this.optionsPhone = [];
      this.emailFirm = null;
      this.phoneFirm = null;
      this.step = 1;
      this.name = "";
      this.idClient = "";
      this.optionsAccount = [];
      this.optionsTransactions = [];
      this.account = "";
      this.retirement = {
        amount: "",
        transaction: "",
        comment: "",
        phone: "",
      };
      this.dialogFirms = false;
      this.slide = 0;
      this.dataFirms = [];
      this.stepFirm = 1;
    },
    show() {
      this.showDialog = true;
    },
    hideDialog() {
      this.showDialog = false;
    },
    closeDialogFirm() {
      this.dialogFirms = false;
      this.slide = 0;
      this.dataFirms = [];
      this.stepFirm = 1;
    },
    validIdentity() {
      if (this.identity && this.identity.length > 0) {
        let url =
          "retiro/cliente?dpi=" +
          this.identity +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            let data = response.data.data;
            this.optionsPhone = [];
            this.optionsEmail = [];
            this.optionsAccount = [];
            this.token = null;
            this.phone = null;
            this.email = null;
            this.account = null;
            if (data && data.length > 0) {
              this.idClient = data[0].id;
              this.name = data[0].nombre;

              data[1].map((item) => {
                if (item.tipo == "C") this.optionsEmail.push(item.contacto);
                else if (item.tipo == "T") this.optionsPhone.push(item.contacto);
              });
              this.step = 2;
            } else {
              notifyError(this, "El DPI ingresado no existe");
            }
          }
        });
      } else {
        notifyError(this, "Ingrese DPI");
      }
    },
    generateToken(email, phone, idClient, name) {
      if ((email && email.length > 0) || (phone && phone.length > 0)) {
        let url =
          "retiro/token?idCli=" +
          idClient +
          "&nombre=" +
          name +
          "&telefono=" +
          (phone || "") +
          "&correo=" +
          (email || "") +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              notifySuccess(this, "Se ha enviado el token");
              this.step = 3;
              this.stepFirm = 2;
            } else {
              notifyError(this, "Se ha producido un error al enviar el token");
            }
          }
        });
      } else {
        notifyError(this, "Seleccione una opción");
      }
    },
    getAccounts() {
      if (this.token && this.token.length > 0) {
        let url =
          "retiro/cuenta?" +
          "idCli=" +
          this.idClient +
          "&token=" +
          this.token +
          "&idOfi=" +
          getItemStorage("idOffice") +
          "&fechaSis=" +
          getItemStorage("date") +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsAccount = [];
              this.account = "";
              response.data.data.map((item) => {
                let model = {
                  label: item.producto + " - " + item.numero,
                  value: item.numero,
                  id: item.id,
                  mancomuncated: item.mancomuncada,
                  quantity: item.cantidad,
                };
                this.optionsAccount.push(model);
              });
              this.step = 4;
            } else if (response.data.estado == -2) {
              notifyError(this, "El token no es válido");
            } else {
              notifyError(this, "Error al obtener las cuentas");
            }
          }
        });
      } else {
        notifyError(this, "Ingrese token");
      }
    },
    changeAccount(value) {
      if (this.account.value) {
        let url =
          "deposito/val?noCuenta=" +
          this.account.value +
          "&idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 5) {
              let object = response.data.data;
              this.retirement.phone = object.telefono;
              this.getTransactionType(object.tipoInstrumento);
            } else {
              notifyError(this, response.data.mensaje);
              this.showDialogAccount = false;
            }
          }
        });
      } else {
        notifyError(this, "Seleccione una cuenta ");
      }
    },
    getTransactionType(tipoInstrumento) {
      let url = "transaccion/tipo?idgru=21" + "&tpro=" + tipoInstrumento + "&tmov=E";
      request(this, url).then((response) => {
        if (response) {
          this.optionsTransactions.length = 0;
          response.data.map((item) => {
            let model = {
              value: item.idTrn,
              label: item.descripcionTrn,
            };
            this.optionsTransactions.push(model);
            this.showDialogAccount = true;
          });
        }
      });
    },
    sendData() {
      this.$refs.formRetirement.validate().then((response) => {
        if (response) {
          if (this.account.mancomuncated == "S" && this.account.quantity > 1) {
            this.stepFirm = 1;
            let url =
              "retiro/firmas?idCli=" +
              this.idClient +
              "&idCue=" +
              this.account.id +
              "&idUsu=" +
              getItemStorage("idUser") +
              "&userKey=" +
              getItemStorage("userKey");

            request(this, url).then((res) => {
              if (res) {
                if (res.data.estado == 200) {
                  this.dataFirms = res.data.data;
                  this.dialogFirms = true;
                  this.token = null;
                }
              }
            });
          } else {
            this.sedRetirement();
          }
        }
      });
    },
    sedRetirement() {
      let url =
        "retiro/add?idCue=" +
        this.account.id +
        "&efectivo=" +
        this.retirement.amount +
        "&idOfi=" +
        getItemStorage("idOffice") +
        "&comentario=" +
        this.retirement.comment +
        "&telefono=" +
        this.retirement.phone +
        "&idTrn=" +
        this.retirement.transaction.value +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");

      request(this, url).then((res) => {
        if (res) {
          if (res.data.estado == 200) {
            if (res.data.data.maximo == "S") {
              this.showDialogAccount = false;
              this.showDialog = false;
              this.initVar();
              notifyInfo(this, "Se ha superado el máximo");
              return;
            }

            if (res.data.data.id == 1) {
              this.showDialogAccount = false;
              this.showDialog = false;
              this.initVar();
              notifySuccess(this, "Se ejecutó correctamente el retiro");
            } else notifyError(this, res.data.data.descripcion);
          }
        }
      });
    },
    cancel() {
      let url =
        "retiro/cancelar?idCli=" +
        this.idClient +
        "&idOfi=" +
        getItemStorage("idOffice") +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idUsu=" +
        getItemStorage("idUser");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            notifySuccess(this, "Se ha cancelado el proceso");
            this.step = 2;
            this.token = null;
          } else {
            notifyError(this, "Error al cancelar el retiro");
          }
        }
      });
    },
    validaTokenFirm(item, index) {
      let url =
        "retiro/valida/token?idCli=" +
        item.idCli +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&token=" +
        this.token;
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.token = null;
            this.dataFirms[index].emailFirm = "";
            this.dataFirms[index].phoneFirm = "";
            this.dataFirms[index].validated = true;
            this.stepFirm = 1;

            if (index + 1 < this.dataFirms.length) this.slide = index + 1;

            let count = 0;
            this.dataFirms.map((item) => {
              if (item.validated) count++;
            });
            if (count >= 1) {
              this.dialogFirms = false;
              this.sedRetirement();
            } else {
              notifySuccess(this, "Token válido");
            }
          } else if (response.data.estado == -2) {
            notifyError(this, "El token no es válido");
          } else {
            notifyError(this, "Error al validar token");
          }
        }
      });
    },
    nextFirm() {
      this.slide++;
      this.stepFirm = 1;
    },
    previewFirm() {
      this.slide--;
      this.stepFirm = 1;
    },
  },
};
</script>
<style lang="sass">
.q-carousel .q-stepper__step-inner
  padding: 0px  !important

.q-carousel .q-stepper__header--alternative-labels .q-stepper__tab
  padding: 0px  !important
</style>
