<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58" :key="forceRender" style="padding-bottom: 60px">
        <toolbar title="Solicitar reverso" @back="hideDialog"></toolbar>

        <div
          v-ripple
          class="relative-position card-item flex q-pa-md q-ma-md items-center"
          @click="openDialogListItem('Pago de prestamos', '17')"
        >
          <div>
            <img class="img-item" src="statics/image/loan1.svg" alt="LOAN_IMG" />
          </div>
          <div class="col">
            <p class="title-item q-ml-md q-ma-none">Pago de Prestamos</p>
          </div>
        </div>
        <div
          v-ripple
          class="relative-position card-item flex q-pa-md q-ma-md items-center"
          @click="openDialogListItem('Depósito inidividual', '20')"
        >
          <div>
            <img class="img-item" src="statics/image/man.svg" alt="LOAN_IMG" />
          </div>
          <div class="col">
            <p class="title-item q-ml-md q-ma-none">Depósito Individual</p>
          </div>
        </div>

        <div
          v-ripple
          class="relative-position card-item flex q-pa-md q-ma-md items-center"
          @click="openDialogListItem('Depósito de grupo', '19')"
        >
          <div>
            <img class="img-item" src="statics/image/group.svg" alt="LOAN_IMG" />
          </div>
          <div class="col">
            <p class="title-item q-ml-md q-ma-none">Depósito de Grupo</p>
          </div>
        </div>
        <div
          v-ripple
          class="relative-position card-item flex q-pa-md q-ma-md items-center"
          @click="openDialogListItem('Retiro', '21')"
        >
          <div>
            <img class="img-item" src="statics/image/money.svg" alt="LOAN_IMG" />
          </div>
          <div class="col">
            <p class="title-item q-ml-md q-ma-none">Retiro</p>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <template>
      <reverse-item ref="reverseItem" :title="title" :idGroup="idGroup"></reverse-item>
    </template>
  </div>
</template>
<script>
import { request, getItemStorage, notifyError, notifySuccess } from "../../js/Util";
import Toolbar from "../common/Toolbar";
import Money from "../common/Money";
import ReverseItem from "./ReverseItem";
export default {
  components: {
    Toolbar,
    Money,
    ReverseItem,
  },
  data: () => ({
    showDialog: false,
    dialogReverse: false,
    confirm: false,
    forceRender: 0,
    data: [],
    transaction: {
      id: "",
      transaction: "",
      amount: "",
      aprovation: "",
      comment: "",
    },
    title: "",
    idGroup: "",
  }),
  methods: {
    show() {
      this.showDialog = true;
    },
    hideDialog() {
      this.showDialog = false;
    },

    openDialogListItem(title, idGroup) {
      this.title = title;
      this.idGroup = idGroup;
      this.$refs.reverseItem.show();
    },
  },
};
</script>

<style lang="sass">
.card-item
  border-radius: 20px !important
  box-shadow: -9px 1px 13px 7px rgba(213,213,213,0.4)!important
  cursor: pointer

.img-item
  width: 50px
  height: 50px
  border-radius: 50%

.title-item
  font-size: 17px
</style>
