<template>
  <q-dialog
    v-model="showDialog"
    maximized
    transition-show="scale"
    transition-hide="scale"
  >
    <q-card class="q-mt-58 q-pa-md">
      <toolbar :title="title" @back="hideDialog" iconClose="close"></toolbar>
      <div
        v-if="data.filter((item) => item.idGroup == idGroup).length > 0"
        class="q-mt-md"
        :key="forceRender"
      >
        <div v-for="(item, index) in data" :key="index">
          <q-item
            clickable
            @click="
              transaction = item;
              confirm = true;
            "
            class="q-pt-lg q-pb-lg q-mb-sm item-document shadow-1"
            v-if="item.idGroup == idGroup"
          >
            <q-item-section>
              <q-item-label>{{ item.group }}</q-item-label>
              <q-item-label caption lines="1">{{ item.aprobation }}</q-item-label>
            </q-item-section>

            <q-item-section side ceter>
              <q-item-label caption><money :amount="item.amount"></money></q-item-label>
            </q-item-section>
            <q-btn
              size="sm"
              flat
              icon="fas fa-undo"
              class="q-ml-sm"
              text-color="grey"
              round
              @click="
                transaction = item;
                confirm = true;
              "
            ></q-btn>
          </q-item>
        </div>
      </div>

      <div v-else>
        <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
      </div>

      <q-dialog v-model="confirm">
        <q-card>
          <q-linear-progress :value="1" color="red" />
          <q-form ref="formReverse">
            <q-card-section>
              <div class="text-h6">Solicitud</div>
            </q-card-section>
            <q-card-section>
              <p>
                ¿Desea solicitar el reverso de la transacción:
                {{ transaction.aprobation }} ?
              </p>

              <q-input
                v-model="transaction.comment"
                label="Comentario"
                class="q-mb-md"
                maxlength="200"
                :rules="[(val) => !!val || 'Ingrese comentario']"
              />
            </q-card-section>

            <q-card-actions align="right" class="bg-white text-red">
              <q-btn flat label="CANCELAR" v-close-popup />
              <q-btn
                flat
                label="ACEPTAR"
                @click="
                  reverseTransaction(
                    transaction.id,
                    transaction.comment,
                    transaction.type
                  )
                "
              />
            </q-card-actions>
          </q-form>
        </q-card>
      </q-dialog>
    </q-card>
  </q-dialog>
</template>

<script>
import { request, getItemStorage, notifyError, notifySuccess } from "../../js/Util";
import Toolbar from "../common/Toolbar";
import Money from "../common/Money";
export default {
  props: {
    title: String,
    idGroup: String,
  },
  components: {
    Toolbar,
    Money,
  },
  data: () => ({
    transaction: {},
    confirm: false,
    data: [],
    showDialog: false,
    forceRender: 0,
  }),
  methods: {
    show() {
      this.showDialog = true;
      this.getData();
      console.log(this.idGroup);
    },
    hideDialog() {
      this.showDialog = false;
    },
    getData() {
      let url =
        "reverso/trx?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&idOfi=" +
        getItemStorage("idOffice") +
        "&fechaSis=" +
        getItemStorage("date");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.data = this.formatData(response.data.data);
            this.forceRender += 1;
          }
        }
      });
    },
    formatData(data) {
      let list = [];
      data.map((item) => {
        let model = {
          id: item.id,
          transaction: item.referencia,
          amount: item.total,
          aprobation: item.aprobacion,
          group: item.grupo,
          idGroup: item.idgrupo,
          type: item.tipo,
        };
        list.push(model);
      });
      return list;
    },
    reverseTransaction(idTransaction, comment, type) {
      this.$refs.formReverse.validate().then((response) => {
        if (response) {
          let url =
            "reverso/add?idCtr=" +
            idTransaction +
            "&comentario=" +
            comment +
            "&tipo=" +
            type +
            "&idUsu=" +
            getItemStorage("idUser") +
            "&userKey=" +
            getItemStorage("userKey");

          request(this, url).then((response) => {
            if (response) {
              if (response.data.estado == 1) {
                this.transaction.comment = "";
                this.confirm = false;
                notifySuccess(this, "Solicitud realizada correctamente");
                this.getData();
              }
            }
          });
        }
      });
    },
  },
};
</script>
<style lang="sass"></style>
