<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Cambiar contraseña"
          @back="hide"
          buttonTitle="Aceptar"
          @send="sendData"
        ></toolbar>
        <q-form ref="formPassword">
          <q-input
            label="Contraseña actual"
            :rules="[(val) => !!val || 'Ingrese contraseña actual']"
            maxlength="50"
            v-model="currentPassword"
            :type="isPwd1 ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd1 ? 'fas fa-eye-slash' : 'fas fa-eye'"
                class="cursor-pointer"
                @click="isPwd1 = !isPwd1"
              />
            </template>
          </q-input>
          <q-input
            label="Nueva  contraseña"
            :rules="[(val) => !!val || 'Ingrese su nueva contraseña']"
            maxlength="50"
            v-model="password"
            :type="isPwd2 ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd2 ? 'fas fa-eye-slash' : 'fas fa-eye'"
                class="cursor-pointer"
                @click="isPwd2 = !isPwd2"
              />
            </template>
          </q-input>
          <q-input
            label="Confirmar contraseña"
            :rules="[(val) => !!val || 'Confirme su contraseña']"
            maxlength="50"
            v-model="confirmPassword"
            :type="isPwd3 ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd3 ? 'fas fa-eye-slash' : 'fas fa-eye'"
                class="cursor-pointer"
                @click="isPwd3 = !isPwd3"
              />
            </template>
          </q-input>
        </q-form>
        <q-fab
          class="fixed-bottom-right q-ma-md"
          color="primary"
          icon="keyboard_arrow_up"
          direction="up"
          v-if="changePassword == 'S'"
        >
          <q-fab-action
            color="red"
            flat
            text-color="red"
            @click="closeSession"
            icon="fas fa-sign-out-alt"
            class="bg-white shadow-2"
          />

          <q-fab-action
            color="red"
            flat
            text-color="red"
            @click="dialogHelpPassword = true"
            icon="fas fa-info"
            class="bg-white shadow-2"
          />
        </q-fab>
        <q-btn
          icon="fas fa-info"
          round
          style="font-size: 1em"
          @click="dialogHelpPassword = true"
          class="bg-white text-primary fixed-bottom-right q-ma-md q-pa-sm"
          v-else
        >
        </q-btn>
      </q-card>
    </q-dialog>
    <q-dialog
      v-model="dialogHelpPassword"
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="">
        <q-card-section>
          <div class="text-h6 q-ml-sm">Restricciones para la contraseña</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <p>Estimado usuario</p>
          <p>Para crear la contraseña debe cumplir los siguientes criterios:</p>
          <q-list separator>
            <q-item>
              <q-item-section
                >Tener una longitud mínima de contraseñas de al menos 8
                caracteres.</q-item-section
              >
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label
                  >Debe combinar letras mayúsculas, minúsculas, números y
                  símbolos.</q-item-label
                >
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label
                  >No se permite el uso de nombres y apellidos personales o número de DPI
                  como parte de la contraseña.
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label
                  >No es permitido reutilizar contaseñas anteriores.
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
          <p>
            Recomendamos: No incluir fechas de cumpleaños, números telefónicos ni
            cualquier otro dato que sean fáciles de obtener para otra persona.
          </p>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-blue">
          <q-btn flat label="ACEPTAR" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogInfo">
      <q-card style="width: 300px">
        <q-card-section>
          <div class="text-h6">Cambio de contraseña</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Estimado usuario, es necesario que realize un cambio de contraseña.
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-primary">
          <q-btn flat label="ACEPTAR" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import Toolbar from "../common/Toolbar";
import {
  request,
  notifyError,
  notifyInfo,
  notifySuccess,
  getItemStorage,
  setItemStorage,
  removeItemStorage,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
  },
  data: () => ({
    showDialog: false,
    password: "",
    currentPassword: "",
    confirmPassword: "",
    messageError: [
      "Está colocando una contraseña con menos de 8 caracteres",
      "Está colocando una contraseña que sobrepasa el máximo de 16 caracteres",
      "Debe ingresar al menos una letra mayúscula",
      "Debe ingresar al menos una letra minúscula",
      "Debe ingresar al menos un número",
      "Debe ingresar al menos un símbolo",
      "Contraseña no permitida, existe al menos un nombre personal dentro de la contraseña",
      "Contraseña no permitida, existe al menos un apellido personal dentro de la contraseña",
      "Por su seguridad no está permitido reutilizar una contraseña anterior, por favor escriba una nueva contraseña",
      "Está colocando algún carácter no permitido",
      "Contraseña no permitida, existe su número de DPI dentro de la contraseña",
    ],
    dialogHelpPassword: false,
    dialogInfo: false,
    changePassword: getItemStorage("changePassword"),
    isPwd1: true,
    isPwd2: true,
    isPwd3: true,
  }),
  methods: {
    hide() {
      if (getItemStorage("changePassword") == "S") this.dialogInfo = true;
      else this.showDialog = false;
    },
    show() {
      this.showDialog = true;
    },
    sendData() {
      this.$refs.formPassword.validate().then((validation) => {
        if (validation) {
          if (this.password === this.confirmPassword) {
            let md5 = require("js-md5");
            let url =
              "cambioPassword?idUsu=" +
              getItemStorage("idUser") +
              "&oldPassword=" +
              btoa(md5(this.currentPassword)) +
              "&newPassword=" +
              btoa(this.password) +
              "&userKey=" +
              getItemStorage("userKey");
            request(this, url).then((response) => {
              if (response) {
                if (response.data.estado == 200) {
                  notifySuccess(this, "Cambio de contraseña realizado correctamente");
                  setItemStorage("password", this.password);
                  setItemStorage("changePassword", "N");
                  this.hide();
                } else if (response.data.estado == -1) {
                  notifyError(this, "Contraseña actual incorrecta");
                } else {
                  notifyError(this, this.messageError[response.data.estado - 1]);
                }
              }
            });
          } else {
            notifyInfo(this, "Las contraseñas no coiniciden");
          }
        }
      });
    },
    closeSession() {
      let url = "cerrarSesion?idUsu=" + getItemStorage("idUser");
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            removeItemStorage("idUser");
            this.$router.push("Login");
          }
        }
      });
    },
  },
};
</script>
