<template>
  <div class="flex flex-center" style="height: 100vh">
    <div class="line-red"></div>
    <div
      class="full-width shadow-login q-pb-lg q-pt-md"
      style="max-width: 500px; z-index: 1000; background: #fff"
    >
      <div class="flex flex-center">
        <img src="statics/image/share.png" alt="LOGO" class="img-login" />
      </div>
      <div class="text-h5 text-grey text-center">Agente Share</div>

      <div class="q-ml-lg q-mr-lg">
        <q-form action @submit="sendData" ref="form">
          <q-input
            ref="username"
            bottom-slots
            v-model="user.username"
            label="Usuario"
            :rules="[(val) => !!val || 'Ingrese su nombre de usuario']"
            maxlength="30"
            class="full-width"
          >
            <template v-slot:prepend>
              <q-icon name="fas fa-user" />
            </template>
          </q-input>
          <q-input
            ref="password"
            bottom-slots
            :type="isPwd ? 'password' : 'text'"
            v-model="user.password"
            label="Contraseña"
            :rules="[(val) => !!val || 'Ingrese su contraseña']"
            maxlength="30"
            class="full-width q-mt-sm"
          >
            <template v-slot:prepend>
              <q-icon name="fas fa-key" />
            </template>
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'fas fa-eye-slash' : 'fas fa-eye'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>

          <q-btn
            color="primary"
            label="Ingresar"
            rounded
            flat
            type="submit"
            text-color="white"
            class="btn-login center-container q-mt-lg q-pa-sm bg-primary"
          ></q-btn>
          <div class="q-mt-lg">
            <q-checkbox
              v-model="rememberPassword"
              label="Recordar contraseña"
              style="margin-left: -15px"
            />
            <q-btn
              flat
              :disable="user.username.length == 0"
              style="margin-right: -15px"
              color="red"
              label="¿Olvidó su contraseña?"
              class="float-right q-mt-sm"
              @click="forgotPassword"
              size="12px"
            ></q-btn>
          </div>
        </q-form>
      </div>
    </div>
    <q-dialog v-model="alertPassword">
      <q-card>
        <q-card-section>
          <div class="text-h6">Nueva contraseña</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Su nueva contraseña es : {{ newPassword }}
          <q-btn
            icon="content_copy"
            round
            flat
            text-color="black"
            @click="copyPassword"
          ></q-btn>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="ACEPTAR" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import {
  request,
  notifyError,
  notifyInfo,
  setItemStorage,
  getItemStorage,
  notifyErrorServer,
  Result,
} from "../../js/Util";
export default {
  created() {
    if (window.cordova) {
      StatusBar.backgroundColorByHexString("#FFFFFF");

      var permissions = cordova.plugins.permissions;
      var list = [permissions.WRITE_EXTERNAL_STORAGE, permissions.READ_EXTERNAL_STORAGE];

      permissions.checkPermission(list, success, null);

      function error() {
        console.warn("permission is nt turned on");
      }

      function success(status) {
        if (!status.hasPermission) {
          permissions.requestPermissions(
            list,
            function (status) {
              if (!status.hasPermission) error();
              else {
                //Create folder for files
                window.resolveLocalFileSystemURL(
                  cordova.file.externalRootDirectory,
                  function (entry) {
                    entry.getDirectory(
                      "SHARE",
                      { create: true, exclusive: false },
                      function (result) {
                        console.log(result);
                      },
                      function (err) {
                        console.log(err);
                      }
                    );
                  }
                );
              }
            },
            error
          );
        }
      }
    }

    if (getItemStorage("rememberPassword") == "true") {
      this.rememberPassword = true;
      this.user.username = getItemStorage("username");
      this.user.password = getItemStorage("password");
    }
  },
  data: () => ({
    user: {
      password: "",
      username: "",
    },
    isPwd: true,
    rememberPassword: false,
    alertPassword: false,
    newPassword: "",
  }),
  methods: {
    sendData() {
      let url =
        "login/app?username=" +
        this.user.username +
        "&password=" +
        btoa(this.user.password);

      if (!getItemStorage("userKey")) {
        url += "&userKey=" + this.user.username;
      } else {
        url += "&userKey=" + getItemStorage("userKey");
      }

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == Result.USER_BLOCKED) {
            notifyError(this, "Este usuario está bloqueado, contacte a su administrador");
          } else if (response.data.estado == Result.NOT_FOUND) {
            notifyError(this, "Usuario o clave incorrecta");
          } else if (response.data.estado == Result.ERROR_SERVER) {
            notifyErrorServer(this);
          } else if (response.data.estado == Result.USER_LINKED) {
            notifyInfo(this, "Tiene sesión iniciada en otro dispositivo");
          } else if (response.data.estado == Result.SUCCESS) {
            setItemStorage("idUser", response.data.data.idCli);
            setItemStorage("username", this.user.username);
            if (response.data.data.userKey)
              setItemStorage("userKey", response.data.data.userKey);

            if (this.rememberPassword) {
              setItemStorage("rememberPassword", "true");
              setItemStorage("password", this.user.password);
            } else {
              setItemStorage("rememberPassword", "false");
            }

            let res = response.data.data;
            setItemStorage("timer", res.tiempo);
            setItemStorage("date", res.fechaSis);
            setItemStorage("type", res.tipo);
            setItemStorage("idOffice", res.oficina);
            setItemStorage("document", res.documento);
            setItemStorage("nameOffice", res.nombreOfi);
            setItemStorage("changePassword", res.cambio);
            setItemStorage("messageHelp", res.ayuda);
            setItemStorage("phoneSupport", res.telSoporte);
            setItemStorage("phoneReverse", res.telReverso);
            setItemStorage("name", res.nombre);

            this.$router.push("Home");
          } else {
            notifyError(this, response.data.mensaje);
          }
        }
      });
    },
    forgotPassword() {
      let url =
        "recuperarPassword?username=" +
        getItemStorage("username") +
        "&userKey=" +
        getItemStorage("userKey");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.alertPassword = true;
            this.newPassword = response.data.data;
            setItemStorage("password", this.newPassword);
            this.user.password = this.newPassword;
          } else if (response.data.estado == -1) {
            notifyError(this, "Error de usuario");
          } else {
            notifyError(this);
          }
        }
      });
    },
    copyPassword() {
      let context = this;
      this.$copyText(getItemStorage("password")).then(
        function (e) {
          context.$q.notify({
            message: "Contraseña copiada",
            icon: "done",
          });
        },
        function (e) {
          context.$q.notify({
            message: "No se ha podido copiar la contraseña",
            icon: "close",
          });
        }
      );
    },
  },
};
</script>
<style scoped>
@media screen and (min-width: 500px) {
  .line-red {
    background: #cf112b;
    height: 190px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
  .shadow-login {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}
</style>
