// app global css in Sass form

@font-face 
    font-family: Montserrat
    src: url("./Montserrat-Light.otf") format("opentype")

@font-face 
    font-family: GoogleSans
    src: url("./ProductSans-Light.woff") format("opentype")


body, #app, html
    height: 100%

body
    font-family: "GoogleSans" ,"Product Sans",Arial,Helvetica,sans-serif

.fixed-top
    z-index: 100
.margin-top-page
    margin-top: 80px
//Login
.container
    height: 100vh
    widows: 100%

.container-form
    max-width: 500px
    height: 100%

.draw-radius
    height: 35%
    border-radius: 0px 0px 0px 100px

.aligner
  display: flex
  align-items: center
  justify-content: center

.full-width
    width: 100%

.margin-auto
    margin: auto

.parent
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    height: 100vh

.heigh-100vh
    height: 100vh

.center-container
    display: block
    margin-left: auto
    margin-right: auto


.img-login
    width: 200px
    max-width: 300px

.text-grey
    color: $grey-8

.font-number
    font-family: 'Montserrat', sans-serif

.q-mt-58
    padding-top: 58px

.q-mt-50
    padding-top: 50px

.btn-login
    width: 100%
    max-width: 300px

.money-balance
    color: #333
    font-size: 22px

.icon-card
    max-width: 33px
  
.container-icon
    background: rgba(255,255 ,255 ,.4)
    border-radius: 50%
    width: 55px
    height: 55px

.fab-action
    position: fixed
    right: 20px
    bottom: 20px

.item-document
    border-radius: 8px

.font-money
  font-family: 'Montserrat', sans-serif
.size-money
    font-size: 16px


.size-money-big
    font-size: 18px

.size-money-min
    font-size: 12px
