<template>
  <span class="content-money " :class="[!textLeft ? 'justify-content-center' : '']">
    <span class="font-money " :class="[big ? 'size-money-big' : 'size-money', min ? 'size-money-min' : 'size-money']" >Q {{
      format[0]
    }}</span
    ><span class="decimal " :class="[min ? 'size-money-min' : '']" >{{ format[1] }}</span>
  </span>
</template>
<script>
export default {
  props: [
    "amount"  ,
    "big",
    "min",
    "textLeft"
  ],
  data: () => ({
    format: ["0","00"]
  }),
  created(){
      this.format = this.getFormatMoney(this.amount)
  },
  methods: {
    //Esta funcion retorna el value con el formato para dinero. Ejemplo : 2,500
    getFormatMoney(value) {

      if (value) {
        //Se convierte a decimal con dos digitos flotantes
        let amount = parseFloat(value).toFixed(2);
        //Se convierte en el siguiente formato : 2500.00
        amount =
          amount.split(".")[0] + "." + amount.split(".")[1].substring(0, 2);
        //Se convierte en el siguiente formato : 2,500.00
        var format = parseFloat(amount)
          .toFixed(2)
          .replace(/\d(?=(\d{3})+\.)/g, "$&,");

        return format.split(".");
      } else {
        return ["0", "00"];
      }
    }
  }
};
</script>
<style lang="sass">
.decimal
  font-size: 12px
  margin-top: -2px
  margin-left: 3px
.content-money
    display: flex
    align-content: top
    
  
.justify-content-center
  justify-content: center
</style>
