<template>
  <div class="bg-primary q-pb-xs q-sm-md q-pt-xs q-pb-xs fixed-top">
    <q-toolbar class="text-white">
      <q-btn
        flat
        round
        dense
        :icon="iconClose ? iconClose : 'arrow_back'"
        @click="back"
      />
      <q-toolbar-title>{{ title }}</q-toolbar-title>
      <q-btn v-if="buttonTitle" flat :label="buttonTitle" @click="send"></q-btn>

      <q-btn v-if="showMenu" text-color="white" flat color="primary" icon="more_vert">
        <q-menu transition-show="scale" transition-hide="scale">
          <q-list style="min-width: 150px">
            <q-item clickable @click="exportPDF">
              <q-item-section>Exportar a PDF</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </q-toolbar>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    buttonTitle: String,
    iconClose: String,
    showMenu: Boolean,
  },
  data: () => ({
    text: "",
  }),
  methods: {
    back() {
      this.$emit("back");
    },
    send() {
      this.$emit("send");
    },
    exportPDF() {
      this.$emit("exportPDF");
    },
  },
};
</script>
