<template>
  <q-dialog
    v-model="showDialog"
    maximized
    transition-show="slide-left"
    transition-hide="slide-right"
  >
    <q-card class="q-mt-58 q-pa-md">
      <toolbar title="Apertura agente Share" @back="hideDialog" @send="open"></toolbar>
      <div>
        <office class="q-mt-md" @menuAction="menuAction" :data="data"></office>
      </div>
      <!-- Dialogo ver oficina -->
      <q-dialog
        v-model="showDialogWatch"
        maximized
        transition-show="scale"
        transition-hide="scale"
      >
        <q-card class="q-mt-58 q-pa-md">
          <toolbar
            title="Ver agente Share"
            @back="showDialogWatch = false"
            icon-close="close"
          ></toolbar>
          <q-select label="Oficina" v-model="office.name" class="q-mb-md" readonly />
          <q-select label="Estado" v-model="office.state" class="q-mb-md" readonly />

          <q-input
            v-model="office.balanceNationalCurrency"
            label="Saldo moneda nacional"
            class="q-mb-md"
            readonly
          />
          <q-input
            v-model="office.balanceOtherCurrency"
            label="Saldo otras monedas"
            class="q-mb-md"
            readonly
          />
          <q-input
            v-model="office.openingDate"
            label="Fecha apertura"
            class="q-mb-md"
            readonly
          />
          <q-input
            v-model="office.cosingDate"
            label="Fecha cierre"
            class="q-mb-md"
            readonly
          />
        </q-card>
      </q-dialog>
      <!-- Dialogo aperturar-->
      <q-dialog v-model="dialogConfirm" full-width>
        <q-card>
          <q-linear-progress :value="1" color="red" />
          <q-card-section>
            <div class="text-h6">Aperturar</div>
          </q-card-section>

          <q-card-section class="row items-center">
            <span class="q-ml-sm">¿Desea aperturar la oficina: {{ office.name }} ? </span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn
              flat
              label="Confirmar"
              color="primary"
              v-close-popup
              @click="openOffice"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-card>
    <cajero ref="cajero"></cajero>
  </q-dialog>
</template>
<script>
import Toolbar from "../common/Toolbar";
import Cajero from "./Cajero";
import Office from "./Office";

import {
  request,
  getItemStorage,
  setItemStorage,
  Result,
  notifyError,
  notifySuccess,
  notifyInfo,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
    Cajero,
    Office,
  },
  data: () => ({
    showDialog: false,
    showDialogWatch: false,
    dialogATM: false,
    dialogConfirm: false,
    office: {
      id: 0,
      name: "",
      state: "",
      balanceNationalCurrency: "",
      balanceOtherCurrency: "",
      openingDate: "",
      cosingDate: "",
    },
    options: [],
    data: [],

    menu: false,
  }),
  methods: {
    getData() {
      let url =
        "oficina/all?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == Result.SUCCESS) {
            this.data = this.formatData(response.data.data);
          } else {
            notifyError(this);
          }
        }
      });
    },
    formatData(data) {
      let list = [];
      data.map((item) => {
        let model = {
          id: item.id,
          name: item.descripcion,
          balanceNationalCurrency: "",
          balanceOtherCurrency: "",
          openingDate: item.fechaApe,
          cosingDate: "",
        };
        if (item.estado == "P") model.state = "Por Apertura";
        else if (item.estado == "A") model.state = "Abierto";
        else if (item.estado == "C") model.state = "Cerrado";

        list.push(model);
      });
      return list;
    },
    openOffice() {
      let url =
        "oficina/apertura?idOfi=" +
        this.office.id +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 1) {
            notifySuccess(this, "Aperturada correctamente");
            setItemStorage("idOffice", this.office.id);
            setItemStorage("nameOffice", this.office.name);

            this.validCards();
            this.$emit("openOfficeSuccess");
            this.hideDialog();
          } else if (response.data.estado == 2) {
            notifyInfo(this, "Ya se encuentra aperturada");
          } else notifyError(this, "Ha ocurrido un error");
        }
      });
    },
    validCards() {
      let url =
        "oficina/val?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idOfi=" +
        getItemStorage("idOffice");

      request(this, url).then((response) => {
        if (response) {
          this.showDialog = false;
          this.$emit("stateCard", response.data.estado);
        }
      });
    },
    menuAction(component, item) {
      this.office = item;
      if (component == "dialogConfirm") {
        this.dialogConfirm = true;
      } else if (component == "see") {
        this.showDialogWatch = true;
      } else {
        this.$refs[component].show(item.id);
      }
    },
    hideDialog() {
      this.showDialog = false;
    },
    show() {
      this.idOffice;
      this.showDialog = true;
      this.getData();
    },
    showComponent(name, item) {
      this.$refs[name].show(item.id);
    },
    open() {
      this.dialogConfirm = true;
    },
  },
};
</script>
