<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar title="Cierre agente Share" @back="hideDialog"></toolbar>
        <office
          class="q-mt-md"
          @menuAction="menuAction"
          :data="dataOffice"
          :closing="true"
        ></office>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="showDialogWatch"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class>
        <div>
          <toolbar
            title="Ver cierre bancario"
            @back="showDialogWatch = false"
            icon-close="close"
          ></toolbar>

          <q-form class="margin-top-page q-ma-md">
            <q-input v-model="transaction.id" label="Número" class="q-mb-md" readonly />
            <q-input
              v-model="transaction.title"
              label="Comentario"
              class="q-mb-md"
              readonly
            />
            <q-input
              v-model="transaction.date"
              label="Fecha y hora de transacción"
              class="q-mb-md"
              readonly
            />
            <q-input
              v-model="transaction.amount"
              label="Valor"
              class="q-mb-md"
              readonly
              prefix="Q "
            />
            <q-input
              v-model="transaction.accountNumber"
              label="Número cuenta"
              class="q-mb-md"
              readonly
            />
            <q-input
              v-model="transaction.loanNumber"
              label="No. transacción"
              class="q-mb-md"
              readonly
            />
            <q-input
              v-model="transaction.customer"
              label="Cliente"
              class="q-mb-md"
              readonly
            />
            <q-input
              v-model="transaction.state"
              label="Estado"
              class="q-mb-md"
              readonly
            />
          </q-form>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="showDialogBankClosing"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58">
        <toolbar
          title="Cierre agente Share"
          @back="hideDialogClosing"
          buttonTitle="ACEPTAR"
          @send="sendData"
        ></toolbar>

        <menu-top @selectPannel="selectPannel"></menu-top>
        <q-tab-panels v-model="panel" animated>
          <q-tab-panel name="Home" class="q-pt-none">
            <div class="q-mb-md">
              <div class="row q-mb-sm">
                <div class="col">
                  <div class="row">
                    <div class="col text-grey text-left">Ingreso</div>
                    <div class="text-right text-grey font-money q-ml-xs">
                      <money :key="keyMoney" :amount="entry" :min="true"></money>
                    </div>
                  </div>
                </div>
                <div class="col q-ml-md">
                  <div class="row">
                    <div class="col text-grey text-left">Egreso</div>
                    <div class="text-right text-grey font-money q-ml-xs">
                      <money :key="keyMoney" :amount="egress" :min="true"></money>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row q-mb-sm">
                <div class="col">
                  <div class="row">
                    <div class="col text-grey text-left" style="line-height: 15px">
                      Pendiente depositar
                    </div>
                    <div class="text-right text-grey font-money q-ml-xs">
                      <money :key="keyMoney" :amount="depositPending" :min="true"></money>
                    </div>
                  </div>
                </div>
                <div class="col q-ml-md">
                  <div class="row">
                    <div class="col text-grey text-left" style="line-height: 15px">
                      Depositado de más
                    </div>
                    <div class="text-right text-grey font-money q-ml-xs">
                      <money :key="keyMoney" :amount="depositMore" :min="true"></money>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row q-mb-sm">
                <div class="col">
                  <div class="row">
                    <div class="col text-grey text-left">Depositar</div>
                    <div class="text-right text-grey font-money q-ml-xs">
                      <money :key="keyMoney" :amount="total" :min="true"></money>
                    </div>
                  </div>
                </div>

                <div class="col q-ml-md"></div>
              </div>
              <!-- 
              <div class="row">
                <div class="col text-center  text-grey font-money size-money-big">
                  <money :key="keyMoney" :amount="entry" :big="true"></money>
                </div>
                <q-separator vertical></q-separator>
                <div class="col text-center  text-grey font-money size-money-big">
                  <money :key="keyMoney" :amount="egress" :big="true"></money>
                </div>
                <q-separator vertical></q-separator>
                <div class="col text-center  text-grey font-money size-money-big">
                  <money :key="keyMoney" :amount="balanceDeposit" :big="true"></money>
                </div>
              </div>
              <div class="row">
                <div class="col text-grey text-center">Ingreso</div>
                <q-separator vertical></q-separator>
                <div class="col text-grey text-center">Egreso</div>
                <q-separator vertical></q-separator>
                <div class="col text-grey text-center">Saldo a depositar</div>
              </div> -->
            </div>
            <div v-if="data.length > 0" style="margin-bottom: 80px">
              <div v-for="(item, index) in data" :key="index" class="q-mt-sm">
                <q-item class="q-pt-lg q-pb-lg q-mb-sm item-document shadow-1">
                  <q-item-section>
                    <q-item-label>{{ item.title }}</q-item-label>
                    <q-item-label caption lines="1">{{ item.id }}</q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    <q-item-label caption
                      ><money :amount="item.amount"></money
                    ></q-item-label>
                    <q-item-label caption>{{ item.state }}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
            <div v-else>
              <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
            </div>
          </q-tab-panel>

          <q-tab-panel name="Users" class="q-pa-none">
            <q-card flat bordered v-for="(data, index) in dataByUser" :key="index">
              <q-card-section>
                <div class="text-h6">{{ data.header.clientName }}</div>
              </q-card-section>

              <q-card-section class="q-pt-none">
                <div class="row q-mb-sm">
                  <div class="text-grey col text-left flex">
                    <div class="flex" style="position: absolute; left: 16px">
                      <span> Ingresos: </span>
                      <money
                        :key="keyMoney"
                        style="margin-top: -2px"
                        class="q-ml-sm"
                        :amount="data.header.entry"
                      ></money>
                    </div>
                  </div>
                  <div class="text-grey col text-right flex">
                    <div class="flex" style="position: absolute; right: 16px">
                      <span> Egresos: </span>
                      <money
                        :key="keyMoney"
                        style="margin-top: -2px"
                        class="q-ml-sm"
                        :amount="data.header.egress"
                      ></money>
                    </div>
                  </div>
                </div>
                <div v-if="data.transactions.length > 0" class="q-mt-lg">
                  <div
                    v-for="(item, index) in data.transactions"
                    :key="index"
                    class="q-mt-sm"
                  >
                    <q-item class="q-pt-lg q-pb-lg q-mb-sm item-document shadow-1">
                      <q-item-section>
                        <q-item-label>{{ item.title }}</q-item-label>
                        <q-item-label caption lines="1">{{ item.id }}</q-item-label>
                      </q-item-section>

                      <q-item-section side top>
                        <q-item-label caption
                          ><money :amount="item.amount"></money
                        ></q-item-label>
                        <q-item-label caption>{{ item.state }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showDialogError">
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6">Cierre</div>
        </q-card-section>
        <q-card-section>
          <p>
            No puede cerrar al agente, existe al menos un reverso pendiente de
            autorización
          </p>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="ACEPTAR" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import Toolbar from "../common/Toolbar";
import Office from "./Office";
import Money from "../common/Money";
import MenuTop from "./MenuTop";
import {
  request,
  notifyError,
  notifySuccess,
  getItemStorage,
  setItemStorage,
  Result,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
    Office,
    Money,
    MenuTop,
  },
  data: () => ({
    showDialog: false,
    showDialogWatch: false,
    showDialogBankClosing: false,
    showDialogError: false,
    keyMoney: 0,
    data: [],
    dataByUser: [],
    dataOffice: [],
    transaction: {
      type: "",
      number: "",
      date: "",
      amount: "",
      accountNumber: "",
      loanNumber: "",
      custumer: "",
      state: "",
    },
    entry: 0,
    egress: 0,
    balanceDeposit: 0,
    currentIdOffice: 0,
    depositMore: 0,
    depositPending: 0,
    total: 0,
    filterAll: false,
    filterUser: false,
    panel: "Home",
  }),
  methods: {
    selectPannel(name) {
      this.panel = name;
    },
    getOffice(showSingle) {
      let url =
        "oficina/all?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == Result.SUCCESS) {
            this.dataOffice = this.formatData(response.data.data);

            if (this.dataOffice.length == 1 && !showSingle) {
              this.showDialogBankClosing = true;
              this.getData(this.dataOffice[0].id);
            } else {
              this.showDialog = true;
            }
            //   this.showDialog = true;
          } else {
            notifyError(this);
          }
        }
      });
    },
    getData(idOffice) {
      this.currentIdOffice = idOffice;
      let url =
        "oficina/trx?idOfi=" +
        idOffice +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idUsu=" +
        getItemStorage("idUser");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.entry = parseFloat(response.data.data.ingresos).toFixed(2);
            this.egress = parseFloat(response.data.data.egresos).toFixed(2);
            this.balanceDeposit = parseFloat(response.data.data.saldo).toFixed(2);
            this.depositMore = parseFloat(response.data.data.deposito).toFixed(2);
            this.depositPending = parseFloat(response.data.data.pendiente).toFixed(2);
            this.total = parseFloat(response.data.data.total).toFixed(2);
            this.keyMoney += 1;
            this.dataByUser = [];
            this.panel = "Home";
            this.data = this.formatDataBankClosing(response.data.data.transacciones);
          } else {
            notifyError(this);
          }
        }
      });
    },
    sendData() {
      let bank = this.data.filter((item) => item.stateShort == 3);
      if (bank.length > 0) {
        this.showDialogError = true;
        return;
      }

      let url =
        "oficina/cerrar?idOfi=" +
        this.currentIdOffice +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&ingresos=" +
        this.entry +
        "&egresos=" +
        this.egress +
        "&saldo=" +
        this.balanceDeposit +
        "&userKey=" +
        getItemStorage("userKey");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 1) {
            this.$emit("validCard");
            notifySuccess(this, "Agente Share cerrado correctamente");
            this.hideDialogClosing();
          } else {
            notifyError(this);
          }
        }
      });
    },
    formatData(data) {
      let list = [];
      data.map((item) => {
        let model = {
          id: item.id,
          name: item.descripcion,
          balanceNationalCurrency: "",
          balanceOtherCurrency: "",
          openingDate: item.fechaApe,
          cosingDate: "",
        };

        if (item.estado == "A") {
          model.state = "Abierto";
          list.push(model);
        }
      });
      return list;
    },
    formatDataBankClosing(data) {
      let list = [];
      data.map((item) => {
        list.push(this.formatModel(item));
        let users = data.filter((element) => element.idCliente == item.idCliente);
        if (users.length > 0) {
          let flag = false;
          this.dataByUser.map((item) => {
            if (item.header.idClient == users[0].idCliente) flag = true;
          });
          if (!flag) {
            let tempList = [];
            let entry = 0;
            let egress = 0;
            users.map((item, index) => {
              let model = this.formatModel(item, true);
              entry += parseFloat(model.entry);
              egress += parseFloat(model.egress);
              tempList.push(model);
            });
            let header = {
              type: "HEADER",
              entry: entry,
              egress: egress,
              clientName: users[0].nombreCliente,
              idClient: users[0].idCliente,
            };
            let body = {
              header: header,
              transactions: tempList,
            };

            this.dataByUser.push(body);
          }
        }
      });
      console.log(this.dataByUser);
      return list;
    },
    formatModel(item, addAdditionals) {
      let model = {
        id: item.aprobacion,
        date: item.fechaHora,
        amount: item.total,
        accountNumber: "",
        loanNumber: item.referencia,
        custumer: item.cliente,
        title: item.descripcion,
        group: item.grupo,
        stateShort: item.estado,
      };
      if (item.estado == 1) {
        model.state = "Aplicada";
      } else if (item.estado == 2) {
        model.state = "Reversada";
      } else if (item.estado == 3) {
        model.state = "Solicitud Reverso";
      }

      if (item.tipo == "I") {
        model.type = "Ingreso";
      } else {
        model.type = "Egreso";
      }
      if (addAdditionals) {
        model.entry = parseFloat(item.ingresos);
        model.egress = parseFloat(item.egresos);
      }
      return model;
    },
    menuAction(component, item) {
      if (component == "closing") {
        this.showDialogBankClosing = true;
        this.getData(item.id);
      }
    },
    hideDialog() {
      this.showDialog = false;
    },
    hideDialogClosing() {
      this.showDialogBankClosing = false;
      if (this.dataOffice.length == 1) this.showDialog = false;
      if (this.dataOffice.length > 1) this.getOffice(true);
    },
    show() {
      this.getOffice();
    },
    watch(item) {
      this.transaction = item;
      this.showDialogWatch = true;
    },
    getEntry() {
      let total = 0;
      this.listObject.map((item) => {
        total += parseFloat(item.amount);
      });
      return total;
    },
    getEgress() {
      return 0;
    },
    getBalanceDeposit() {
      return parseFloat(this.getEntry() - this.getEgress());
    },
  },
};
</script>
