<template>
  <q-dialog v-model="dialogATM" maximized transition-show="scale" transition-hide="scale">
    <q-card class="q-mt-58 q-pa-md">
      <toolbar title="Cajeros" @back="dialogATM = false" icon-close="close"></toolbar>
      <div v-if="data.length > 0" class="q-mt-md">
        <div v-for="(item, index) in data" :key="index" class="q-pa-xs">
          <q-item class="shadow-1 q-pt-lg q-pb-lg item-document">
            <q-item-section>
              <q-item-label>{{ item.name }}</q-item-label>
              <q-item-label caption lines="1">{{ item.state }}</q-item-label>
            </q-item-section>

            <q-item-section
              side
              center
              v-if="item.workingDay && item.workingDay.lenght > 0"
            >
              <q-item-label caption>Jornada: {{ item.workingDay }}</q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </div>
      <div v-else>
        <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
import Toolbar from "../common/Toolbar";
import { request, getItemStorage, notifyError } from "../../js/Util";
export default {
  components: {
    Toolbar,
  },
  props: {},
  data: () => ({
    dialogATM: false,
    data: [],
  }),
  methods: {
    show(idOffice) {
      this.dialogATM = true;
      this.getData(idOffice);
    },
    getData(idOffice) {
      let url =
        "cajero/all?idOfi=" +
        idOffice +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date") +
        "&idUsu=" +
        getItemStorage("idUser");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.data = this.formatData(response.data.data);
          } else {
            notifyError(this);
          }
        }
      });
    },
    formatData(data) {
      let list = [];
      data.map((item) => {
        let model = {
          name: item.nombre,

          workingDay: item.jornada,
        };

        if (item.estado == "P") model.state = "Por Apertura";
        else if (item.estado == "A") model.state = "Abierto";
        else if (model.estado == "C") model.state = "Cerrado";

        list.push(model);
      });
      return list;
    },
  },
};
</script>
