<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Detalle de Comisiones"
          @back="hideDialog"
          @exportPDF="exportPDF"
          :showMenu="true"
        ></toolbar>

        <div class="div q-mt-md">
          <div class="row q-mb-md q-mr-sm q-ml-sm">
            <div class="col q-mr-xs">
              <q-input
                color="primary"
                readonly
                @click="showDialogDate = true"
                v-model="date"
                label="Fecha"
              >
              </q-input>
            </div>
            <div class="col q-ml-xs">
              <q-select
                v-model="agent"
                label="Agente"
                :options="dataOffice"
                @input="changeOffice"
              >
              </q-select>
            </div>
          </div>

          <div ref="content" :key="keyPDF" style="opacity: 0">
            <content-pdf
              ref="html2Pdf"
              :month="currentMonth"
              :year="currentYear"
              :totalTransaction="totalTransaction"
              :totalCommission="totalCommission"
              :data="data"
            ></content-pdf>
          </div>

          <div v-if="data.length > 0" :key="keyData">
            <q-item
              class="q-pt-lg q-pb-lg q-mb-sm item-document shadow-1"
              v-for="(item, index) in data"
              :key="index"
            >
              <q-item-section>
                <q-item-label>{{ item.title }}</q-item-label>
                <q-item-label caption lines="1">{{ item.aprobation }}</q-item-label>
              </q-item-section>
              <q-item-section side top>
                <q-item-label caption class="font-money size-money">
                  <money :amount="item.amount"></money>
                </q-item-label>
                <q-item-label caption>{{ item.date }}</q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div v-else>
            <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
          </div>
          <div class="q-mt-lg text-right" :key="keyTotal" v-if="data.length > 0">
            <p>
              Total de Comisiones
              <money
                class="q-ml-md"
                style="display: inline"
                :amount="totalCommission"
              ></money>
            </p>
            <q-separator class="separator" />
            <p class="q-pt-md">
              Total de Transacciones
              <span class="q-ml-md" style="font-size: 16px">{{ data.length }}</span>
            </p>
            <q-separator class="separator" />
          </div>
        </div>
      </q-card>

      <q-dialog v-model="showDialogDate" full-width>
        <q-card>
          <q-linear-progress :value="1" color="red" />
          <q-card-section>
            <div class="text-h6">Fecha</div>
          </q-card-section>

          <div class="q-pa-md">
            <div class="row">
              <div class="col">
                <q-btn
                  color="primary"
                  round
                  flat
                  icon="fas fa-angle-left"
                  @click="changeYear(false)"
                ></q-btn>
              </div>
              <div class="col flex justify-center items-center">
                <p class="label-year text-center q-ma-none q-pa-none">
                  {{ currentYear }}
                </p>
              </div>
              <div class="col text-right">
                <q-btn
                  color="primary"
                  round
                  flat
                  icon="fas fa-angle-right"
                  @click="changeYear(true)"
                ></q-btn>
              </div>
            </div>
            <div class="row flex justify-center" :key="keyMonth">
              <q-btn
                v-for="(month, index) in monthName"
                :key="index"
                :label="month"
                unelevated
                class="w-100"
                :class="{ 'active-button': monthState[index] }"
                text-color="black"
                color="white"
                @click="changeMonth(index, true)"
              ></q-btn>
            </div>
          </div>
          <q-card-actions align="right" class="bg-white text-red">
            <q-btn flat label="Cancelar" v-close-popup />
            <q-btn flat label="Aceptar" @click="getData" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-dialog>
  </div>
</template>

<script>
import Money from "../common/Money";
import Toolbar from "../common/Toolbar";
import jsPDF from "jspdf";
import ContentPdf from "./ContentPDF";
import html2canvas from "html2canvas";
import {
  request,
  getItemStorage,
  notifySuccess,
  notifyError,
  notifyInfo,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
    Money,
    ContentPdf,
  },
  data: () => ({
    showDialog: false,
    date: "",
    options: [],
    data: [],
    totalTransaction: 0,
    totalCommission: 0,
    showDialogDate: false,
    currentYear: getItemStorage("date").split("/")[2],
    currentMonth: getItemStorage("date").split("/")[1],
    dataOffice: [],
    agent: "",
    keyTotal: 0,
    keyMonth: 0,
    keyData: 0,
    keyPDF: 0,
    monthState: [
      false,
      false,
      false,
      false,
      false,
      false,
      false,
      false,
      false,
      false,
      false,
      false,
    ],
    monthName: [
      "Enero",
      "Febrero",
      "Marzo",
      "Abril",
      "Mayo",
      "Junio",
      "Julio",
      "Agosto",
      "Septiembre",
      "Octubre",
      "Noviembre",
      "Diciembre",
    ],
  }),
  methods: {
    hideDialog() {
      this.showDialog = false;
    },
    show() {
      this.initVar();
      this.showDialog = true;
      this.date = this.currentMonth + "/" + this.currentYear;
      this.changeMonth(parseInt(this.currentMonth) - 1);
      this.getOffice();
    },
    initVar() {
      (this.date = ""), (this.totalTransaction = 0);
      this.totalCommission = 0;
      this.currentYear = getItemStorage("date").split("/")[2];
      this.currentMonth = getItemStorage("date").split("/")[1];
      this.agent = "";
      this.keyTotal = 0;
      this.keyMonth = 0;
      this.dataOffice = [];
      this.monthState = [
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
      ];
    },
    showDate(date) {
      this.date = date;
    },
    getData() {
      let url =
        "comision/all?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&mes=" +
        this.currentMonth +
        "&periodo=" +
        this.currentYear +
        "&idOfi=" +
        this.agent.value;

      request(this, url).then((response) => {
        if (response.data.estado == 200) {
          this.data = this.formatData(response.data.data);
          this.keyData++;
          this.keyPDF += this.keyTotal + this.keyData + 1;
        }
      });
    },
    formatData(data) {
      let list = [];
      this.totalTransaction = 0;
      this.totalCommission = 0;
      data.map((item) => {
        let model = {
          title: item.transaccion,
          aprobation: item.aprobacion,
          amount: item.comision,
          date: item.fechaSis,
        };
        list.push(model);
        this.totalTransaction += parseFloat(item.total);
        this.totalCommission += parseFloat(item.comision);
      });
      this.keyTotal = this.keyTotal + (list.length + 1);
      console.log(list);
      return list;
    },

    getOffice() {
      let url =
        "oficina/all?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            response.data.data.map((item) => {
              let model = {
                value: item.id,
                label: item.descripcion,
              };
              console.log(this.dataOffice);
              this.dataOffice.push(model);
            });
            this.agent = this.dataOffice[0];
            this.getData();
          } else {
            notifyError(this);
          }
        }
      });
    },
    changeOffice(value) {
      this.getData();
    },
    changeMonth(i, updateData) {
      this.monthState.map((item, index) => (this.monthState[index] = false));
      this.monthState[i] = true;
      this.keyMonth++;
      this.currentMonth = i + 1;
      this.date = this.currentMonth + "/" + this.currentYear;
      this.showDialogDate = false;
      if (updateData) this.getData();
    },
    changeYear(isNext) {
      if (isNext) this.currentYear++;
      else this.currentYear--;

      this.date = this.currentMonth + "/" + this.currentYear;
    },
    exportPDF() {
      let officeName = this.dataOffice.filter((item) => item.value == this.agent.value)[0]
        .label;
      this.$refs.html2Pdf.setOffice(officeName, this.agent.value);

      this.$refs.html2Pdf.generateReport();
    },
  },
};
</script>
<style lang="sass">
.separator
    width: 50%
    position: absolute
    right:  0px
.w-100
    width: 25%
    border-radius: none
    margin: 10px

.label-year
    font-size: 1.3em

.active-button
    background: $primary !important
    color: #FFF !important
</style>
