<template>
  <vue-html2pdf
    :show-layout="false"
    :float-layout="true"
    :enable-download="true"
    :preview-modal="false"
    :paginate-elements-by-height="1400"
    :filename="fileName"
    :pdf-quality="2"
    pdf-orientation="portrait"
    @progress="onProgress($event)"
    @hasStartedGeneration="hasStartedGeneration()"
    @hasGenerated="hasGenerated($event)"
    @hasDownloaded="hasDownloaded"
    @beforeDownload="beforeDownload"
    :html-to-pdf-options="{
      margin: 10,
      fileName: fileName,
      html2canvas: { useCORS: true },
    }"
    ref="html2Pdf"
  >
    <section slot="pdf-content" class="pdf-content">
      <section class="pdf-item text-center">
        <img
          v-if="showImage"
          src="../../statics/image/share-large.png"
          class="logo q-pt-lg q-pb-lg"
        />
        <p v-else class="text-center text-logo q-pt-xs q-pb-xs">SHARE, RL</p>
        <p class="text text-sm text-bold q-mb-none">
          Cooperativa Integral de Ahorro y Crédito SHARE de Guatemala, R.L. Nit:
          10359415-9
        </p>
        <p class="text text-sm text-bold q-mb-none">
          Oficina Central 3ra. Avenida "A" Casco Urbano 1-00, Zona 2 San Lucas
          Sacatepéquez, Sacatepéquez, Guatemala.
        </p>
        <p class="text text-sm text-bold">Teléfono: 7828-2626</p>

        <h6 class="q-mb-none q-mt-md text-center">DETALLE DE COMISIONES AGENTE</h6>
        <div class="text-left q-pa-md">
          <p class="q-mb-none">
            <span class="text-bold">Agente:</span> {{ idOffice }} -
            {{ officeName }}
          </p>
          <p class="q-mb-none"><span class="text-bold">Mes: </span> {{ currentMonth }}</p>
          <p class="q-mb-none"><span class="text-bold">Periodo: </span> {{ year }}</p>

          <div class="row q-mt-md q-mb-xs">
            <div class="col-3 text-bold">Fecha transacción</div>
            <div class="col-3 text-bold">Numero aprobación</div>
            <div class="col-3 text-bold">Descripción</div>
            <div class="col-3 text-bold">Monto de comisión</div>
          </div>
        </div>
      </section>

      <section
        v-for="(item, index) in transactions"
        :key="index"
        class="row pdf-item text-left q-pl-md q-pr-md"
      >
        <div class="col-2 text-sm">{{ item.date }}</div>
        <div class="col-3 text-sm q-pl-lg">{{ item.aprobation }}</div>
        <div class="col-5 text-sm">{{ item.title }}</div>
        <div class="col-2 text-sm">
          <money :min="true" :text-left="true" :amount="item.amount" />
        </div>
      </section>

      <section class="row q-pa-md pdf-item">
        <div class="col flex pdf-item">
          <span class="text-bold q-mr-lg">Total de transacciones: </span>
          <span>{{ transactions.length }}</span>
        </div>

        <div class="col q-ml-md flex pdf-item">
          <span class="text-bold q-mr-lg">Total de comisiones: </span>
          <span><money :min="true" :amount="totalCommission"></money></span>
        </div>
      </section>

      <section class="q-ml-md text-left pdf-item">
        <div>
          <span class="text-sm">Generado el: {{ currentDate }}</span>
        </div>
        <div>
          <span class="text-sm">Usuario : {{ user }}</span>
        </div>
      </section>
    </section>
  </vue-html2pdf>
</template>
<script>
import VueHtml2pdf from "vue-html2pdf";
import Money from "../common/Money";
import { getItemStorage, notifySuccess, notifyError, notifyInfo } from "../../js/Util";
export default {
  props: {
    month: Number,
    year: String,
    data: Array,
    totalTransaction: Number,
    totalCommission: Number,
  },
  data: () => ({
    currentDate: new Date(),
    transactions: [],

    user: getItemStorage("username"),
    currentMonth: "",
    monthName: [
      "Enero",
      "Febrero",
      "Marzo",
      "Abril",
      "Mayo",
      "Junio",
      "Julio",
      "Agosto",
      "Septiembre",
      "Octubre",
      "Noviembre",
      "Diciembre",
    ],
    fileName: "DetalleComision-" + new Date().getTime(),
    showImage: window.cordova && device.platform == "iOS" ? false : true,
    officeName: "",
    idOffice: "",
  }),

  created() {
    var d = new Date();
    this.currentDate =
      [d.getDate(), d.getMonth() + 1, d.getFullYear()].join("/") +
      " " +
      [d.getHours(), d.getMinutes(), d.getSeconds()].join(":");
    this.transactions = this.data;
  },
  components: {
    VueHtml2pdf,
    Money,
  },
  mounted() {
    this.currentMonth = this.monthName[this.month - 1];
  },
  methods: {
    onProgress(event) {
      this.$q.loading.show();
      console.log(event);
      if (event == 100) this.$q.loading.hide();
    },
    hasStartedGeneration(event) {
      console.log(event);
    },
    hasGenerated(event) {
      console.log(event);
    },
    beforeDownload() {
      this.$q.loading.show();
    },
    generateReport() {
      this.$refs.html2Pdf.generatePdf();
    },
    hasDownloaded(event) {
      console.log(event);

      var context = this;
      if (window.cordova) {
        if (device.platform == "iOS") {
          this.writeFile(cordova.file.documentsDirectory, event);
        } else {
          var deviceOSVersion = device.version; //fetch the device OS version
          console.log(deviceOSVersion);
          if (parseInt(deviceOSVersion) < 9) {
            window.OurCodeWorld.Filebrowser.folderPicker.single({
              success: function (data) {
                if (!data.length) {
                  // No folder selected
                  return;
                }
                context.writeFile(data[0], event);
              },

              error: function (err) {
                console.log(err);
                notifyError(context, "Se ha producido un error");
              },
            });
          } else {
            this.writeFile(cordova.file.externalApplicationStorageDirectory, event);
            //this.writeFile2(event);
          }
        }
      }
    },
    writeFile(path, event) {
      var context = this;
      var fileName = "DetalleComision-" + new Date().getTime() + ".pdf";

      //Create folder
      window.resolveLocalFileSystemURL(
        cordova.file.externalRootDirectory,
        function (entry) {
          entry.getDirectory(
            "SHARE",
            { create: true, exclusive: false },
            function (result) {
              console.log(result);
              console.log(JSON.stringify(cordova.file));
              window.resolveLocalFileSystemURL(
                cordova.file.externalRootDirectory + "SHARE",
                function (dir) {
                  dir.getFile(
                    fileName,
                    {
                      create: true,
                    },
                    function (file) {
                      var logOb = file;
                      if (!logOb) {
                        return;
                      }
                      //Escribir en el archivo
                      logOb.createWriter(
                        function (fileWriter) {
                          fileWriter.seek(fileWriter.length);
                          //  var blobPDF =  new Blob([ doc.output() ], { type : 'application/pdf'});

                          fileWriter.write(event);
                          if (device.platform == "iOS") {
                            notifySuccess(context, "PDF guardado en sus documentos");
                          } else {
                            var deviceOSVersion = device.version; //fetch the device OS version
                            if (parseInt(deviceOSVersion) < 9) {
                              notifySuccess(context, "PDF generado correctamente");
                            } else {
                              notifySuccess(
                                context,
                                "PDF guardado en : /SHARE/" + fileName
                              );
                            }
                          }
                        },
                        function (error) {
                          notifyError(context, "Error al generar el PDF");
                        }
                      );
                    },
                    function (evt, where) {
                      notifyError(context, "Error al generar el PDF");
                      console.log("Error resolving data folder " + where + " :");
                      console.log(JSON.stringify(evt));
                    }
                  );
                }
              );
            },
            function (err) {
              console.log(err);
            }
          );
        }
      );
    },

    setOffice(name, id) {
      this.officeName = name;
      this.idOffice = id;
    },
  },
};
</script>
<style lang="sass">
@font-face
    font-family: Garamond
    src: url("../../css/Garamond-Roman.ttf") format("opentype")

.pdf-content
    width: 90%
    text-align: center
    font-family: Google Sans,arial,sans-serif

.logo
    width: 250px

.text-center
    text-align : center

.text-sm
    font-size  : 12px

.text-logo
    font-size: 60px
    font-family: Garamond
</style>
