<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Solicitud Crédito"
          @back="hideDialog"
          @send="sendData"
          buttonTitle="Aceptar"
        ></toolbar>

        <div v-if="isAssociated">
          <q-form ref="form">
            <q-select
              bottom-slots
              v-model="object.documentType"
              :options="optionsDocumentType"
              label="Tipo de documento"
              :rules="[(val) => !!val || 'Seleccione tipo de documento']"
              maxlength="100"
              behavior="dialog"
              @input="selectDocument"
              class="q-mt-md"
            />

            <q-input
              ref="client"
              bottom-slots
              v-model="object.document"
              label="No. Documento"
              :rules="[
                (val) => !!val || 'Ingrese no. documento del cliente',
                (val) =>
                  val.length >= object.documentType.mask.length || 'Formato no válido',
              ]"
              maxlength="30"
              @input="validClient"
              :mask="object.documentType.mask"
              :hint="object.nameClient"
              lazy-rules
              :disable="!object.documentType.value ? true : false"
            >
            </q-input>

            <q-select
              v-model="object.creditType"
              :options="optionsCreditType"
              label="Tipo de crédito"
              :rules="[(val) => !!val || 'Seleccione tipo de crédito']"
            />

            <q-input
              v-model="object.phone"
              label="Teléfono"
              prefix="(502) "
              mask="####-####"
              :rules="[
                (val) => !!val || 'Ingrese teléfono',
                (val) => val.length > 8 || 'Número de teléfono no válido',
              ]"
              lazy-rules
            />

            <q-input
              label="Monto solicitado"
              type="text"
              v-model="object.amount"
              :rules="[
                (val) => !!val || 'Ingrese monto ',
                (val) => val.split(',').join('') > 0 || 'El monto debe ser mayor a cero',
              ]"
              maxlength="15"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
            />

            <q-input
              label="Comentario (Opcional)"
              type="text"
              v-model="object.comment"
              maxlength="250"
            />

            <q-toggle
              class="q-mt-md"
              size="md"
              v-model="object.check"
              checked-icon="check"
              color="red"
              label="Autorizo a SHARE, R.L., para realizar la
investigación de mi historial crediticio en los
diferentes buró de crédito."
              unchecked-icon="clear"
            />
          </q-form>
        </div>
        <div v-else>
          <q-form ref="form">
            <q-select
              v-model="object.creditType"
              :options="optionsCreditType"
              label="Tipo de crédito"
              :rules="[(val) => !!val || 'Seleccione tipo de crédito']"
              class="q-mt-md"
            />

            <q-input
              label="Primer nombre"
              type="text"
              v-model="object.name"
              :rules="[(val) => !!val || 'Ingrese primer nombre ']"
              maxlength="50"
            />

            <q-input
              label="Primer apellido"
              type="text"
              v-model="object.lastName"
              :rules="[(val) => !!val || 'Ingrese primer apellido ']"
              maxlength="50"
            />

            <q-select
              v-model="object.documentType"
              :options="optionsDocumentType"
              label="Tipo de documento"
              :rules="[(val) => !!val || 'Seleccione tipo de documento']"
              maxlength="100"
              behavior="dialog"
              @input="selectDocument"
            />

            <q-input
              ref="client"
              v-model="object.document"
              label="No. Documento"
              :rules="[
                (val) => !!val || 'Ingrese no. documento del cliente',
                (val) =>
                  val.length >= object.documentType.mask.length || 'Formato no válido',
              ]"
              maxlength="50"
              :mask="object.documentType.mask"
              :hint="object.nameClient"
              lazy-rules
            >
            </q-input>

            <q-input
              label="Fecha de nacimiento"
              readonly
              :rules="[(val) => !!val || 'Ingrese la fecha']"
              @click="
                $refs.qDateProxy.show();
                object.birthDay = getItem('date');
              "
              v-model="object.birthDay"
            >
              <template v-slot:append>
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="object.birthDay"
                    :locale="locationES"
                    mask="DD/MM/YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Cerrar" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </template>
            </q-input>

            <q-input
              v-model="object.phone"
              label="Teléfono"
              type="tel"
              prefix="(502) "
              mask="####-####"
              :rules="[
                (val) => !!val || 'Ingrese teléfono',
                (val) => val.length >= 8 || 'Número de teléfono no válido',
              ]"
              lazy-rules
            />

            <q-input
              v-model="object.email"
              label="Correo electónico (Opcional)"
              type="email"
              lazy-rules
              :rules="[isValidEmail]"
            />

            <q-select
              v-model="object.entry"
              :options="optionsSourceIncome"
              label="Fuente de ingresos"
              :rules="[(val) => !!val || 'Seleccione fuente de ingresos']"
            />

            <q-input
              label="Monto solicitado"
              type="text"
              v-model="object.amount"
              :rules="[
                (val) => !!val || 'Ingrese monto ',
                (val) => val.split(',').join('') > 0 || 'El monto debe ser mayor a cero',
              ]"
              maxlength="15"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
            />

            <q-select
              v-model="object.agency"
              :options="optionsAgency"
              label="Agencia más cercana"
              :rules="[(val) => !!val || 'Seleccione agencia más cercana']"
            />

            <q-input
              label="Comentario (Opcional)"
              type="text"
              v-model="object.comment"
              maxlength="250"
            />

            <q-toggle
              class="q-mt-md"
              size="md"
              v-model="object.check"
              checked-icon="check"
              color="red"
              label="Autorizo a SHARE, R.L., para realizar la
investigación de mi historial crediticio en los
diferentes buró de crédito."
              unchecked-icon="clear"
            />
          </q-form>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import {
  request,
  notifyError,
  notifySuccess,
  getItemStorage,
  setItemStorage,
  Result,
  formatToParse,
} from "../../js/Util";
import Toolbar from "../common/Toolbar";
export default {
  components: {
    Toolbar,
  },
  data: () => ({
    showDialog: false,
    isAssociated: false,
    optionsCreditType: [],
    optionsDocumentType: [],
    optionsAgency: [],
    optionsSourceIncome: [],
    object: {
      documentType: {
        label: null,
        value: null,
        mask: "",
      },
      document: null,
      creditType: null,
      phone: null,
      amount: null,
      comment: null,
      check: true,

      name: null,
      lastName: null,
      birthDay: null,
      email: null,
      entry: null,
      agency: null,
      nameClient: null,
      idClient: null,
    },

    date: null,
    locationES: {
      days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
      daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      firstDayOfWeek: 1,
    },
  }),
  methods: {
    show(isAssociated) {
      this.showDialog = true;
      this.isAssociated = isAssociated;
      this.getCreditType();
      this.documentsType();
      this.getSourceIconme();
      if (!this.isAssociated) this.getAcency();
    },
    hideDialog() {
      this.showDialog = false;
    },
    sendData() {},
    showPopup(qDate, model) {
      let systemDate = getItemStorage("date").split("/");
      var date = new Date(systemDate[1] + "/" + systemDate[0] + "/" + systemDate[2]);
      this.$refs[qDate].show();

      if (this.object[model] == "") {
        //fecha con el formato : DD/MM/YYYY
        let month =
          date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;

        let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

        this[model] = date.getFullYear() + "/" + month + "/" + day;
      }
    },
    getCreditType() {
      let url =
        "catalogoProductos?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&noDocumento=" +
        getItemStorage("document");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.optionsCreditType = [];
            response.data.data.map((item) => {
              let model = {
                value: item.id,
                label: item.descripcion,
              };
              this.optionsCreditType.push(model);
            });
          }
        }
      });
    },
    documentsType() {
      if (this.optionsDocumentType.length == 0) {
        let url =
          "tipo/identificacion?idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");

        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsDocumentType = [];
              response.data.data.map((item) => {
                this.optionsDocumentType.push({
                  value: item.id,
                  label: item.descripcion,
                  mask: this.formatMask(item.mascara),
                });
              });
            } else notifyError(this, "Error al obtener los datos ");
          }
        });
      }
    },
    getAcency() {
      if (this.optionsAgency.length == 0) {
        let url = "oficinas?idUsu=" + getItemStorage("idUser");

        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsAgency = [];
              response.data.data.map((item) => {
                this.optionsAgency.push({
                  value: item.id,
                  label: item.descripcion,
                });
              });
            } else notifyError(this, "Error al obtener los datos ");
          }
        });
      }
    },
    getSourceIconme() {
      if (this.optionsSourceIncome.length == 0) {
        let url =
          "fuentesIngresos?idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");

        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsSourceIncome = [];
              response.data.data.map((item) => {
                this.optionsSourceIncome.push({
                  value: item.id,
                  label: item.descripcion,
                });
              });
            } else notifyError(this, "Error al obtener los datos ");
          }
        });
      }
    },
    formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else newMask += item;
        });
      }

      return newMask;
    },
    selectDocument() {
      this.object.client = null;
    },
    validClient(val) {
      if (val && val.length >= this.object.documentType.mask.length) {
        let url =
          "cliente/valid?idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey") +
          "&noDocumento=" +
          val;

        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              if (response.data.data) {
                this.object.nameClient = response.data.data.nombre;
                this.object.idClient = response.data.data.id;
              } else {
                notifyError(this, "El número de documento ingresado no es válido");
                this.object.nameClient = null;
                this.object.idClient = null;
              }
            } else {
              notifyError(this, "Error al obtener datos ");
            }
          }
        });
      }
    },
    sendData() {
      this.$refs.form.validate().then((response) => {
        let url;
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        if (response) {
          if (this.isAssociated) {
            if (!this.object.idClient) {
              notifyError(this, "Número de documento inválido");
              return;
            }
            url =
              "solicitudCredito/asociado?idTipoCredito=" +
              this.object.creditType.value +
              "&idTipoIdentificacion=" +
              this.object.documentType.value +
              "&idOfi=" +
              getItemStorage("idOffice") +
              "&noDocumento=" +
              this.object.document +
              "&telefono=(502) " +
              this.object.phone +
              "&monto=" +
              formatToParse(this.object.amount) +
              "&fechaSis=" +
              getItemStorage("date") +
              " " +
              time +
              "&autorizaHistorial=" +
              (this.object.check ? "S" : "N") +
              "&canal=AA&idUsu=" +
              getItemStorage("idUser") +
              "&userKey=" +
              getItemStorage("userKey") +
              "&idCli=" +
              this.object.idClient;

            if (this.object.comment) {
              url += "&comentario=" + this.object.comment;
            }
          } else {
            url =
              "solicitudCredito?idTipoCredito=" +
              this.object.creditType.value +
              "&idTipoIdentificacion=" +
              this.object.documentType.value +
              "&idOfi=" +
              getItemStorage("idOffice") +
              "&noDocumento=" +
              this.object.document +
              "&nombre=" +
              this.object.name +
              "&apellido=" +
              this.object.lastName +
              "&fechaNacimiento=" +
              this.object.birthDay +
              "&telefono=(502) " +
              this.object.phone +
              "&ingresos=" +
              this.object.entry.value +
              "&monto=" +
              formatToParse(this.object.amount) +
              "&idOfiCercana=" +
              this.object.agency.value +
              "&autorizaHistorial=" +
              (this.object.check ? "S" : "N") +
              "&canal=AA&idUsu=" +
              getItemStorage("idUser") +
              "&userKey=" +
              getItemStorage("userKey") +
              "&fechaSis=" +
              getItemStorage("date") +
              " " +
              time;

            if (this.object.email) {
              url += "&correo=" + this.object.email;
            }
            if (this.object.comment) {
              url += "&comentario=" + this.object.comment;
            }
          }

          request(this, url).then((response) => {
            if (response) {
              if (response.data.estado == 200) {
                notifySuccess(this, response.data.data);
                this.object = {
                  documentType: {
                    label: null,
                    value: null,
                    mask: "",
                  },
                  document: null,
                  creditType: null,
                  phone: null,
                  amount: null,
                  comment: null,
                  check: true,

                  name: null,
                  lastName: null,
                  birthDay: null,
                  email: null,
                  entry: null,
                  agency: null,
                  nameClient: null,
                  idClient: null,
                };
                this.showDialog = false;
              } else {
                notifyError(this, "Se ha producido un error al realizar la solicitud");
              }
            }
          });
        }
      });
    },
    isValidEmail(val) {
      if (val && val.length > 0) {
        const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
        return emailPattern.test(val) || "Correo no válido";
      } else return true;
    },
    getItem(value) {
      return getItemStorage(value);
    },
  },

  watch: {},
};
</script>
