<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Solicitud afiliación agente"
          @back="hideDialog"
          @send="sendData"
          buttonTitle="Aceptar"
        ></toolbar>

        <q-form ref="form">
          <q-input
            label="Primer nombre"
            type="text"
            v-model="object.name"
            :rules="[(val) => !!val || 'Ingrese primer nombre ']"
            maxlength="50"
          />

          <q-input
            label="Primer apellido"
            type="text"
            v-model="object.lastName"
            :rules="[(val) => !!val || 'Ingrese primer apellido ']"
            maxlength="50"
          />

          <q-input
            v-model="object.phone"
            label="Teléfono"
            type="tel"
            prefix="(502) "
            mask="####-####"
            :rules="[
              (val) => !!val || 'Ingrese teléfono',
              (val) => val.length > 8 || 'Número de teléfono no válido',
            ]"
            lazy-rules
          />

          <q-input
            v-model="object.email"
            label="Correo electónico (Opcional)"
            type="email"
            lazy-rules
            :rules="[isValidEmail]"
          />

          <q-select
            v-model="object.agency"
            :options="optionsAgency"
            label="Agencia más cercana"
            :rules="[(val) => !!val || 'Seleccione agencia más cercana']"
          />

          <q-input
            label="Comentario (Opcional)"
            type="text"
            v-model="object.comment"
            maxlength="250"
          />
        </q-form>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import {
  request,
  notifyError,
  notifySuccess,
  getItemStorage,
  setItemStorage,
  Result,
  formatToParse,
} from "../../js/Util";
import Toolbar from "../common/Toolbar";
export default {
  components: {
    Toolbar,
  },
  data: () => ({
    showDialog: false,
    optionsAgency: [],
    object: {
      name: null,
      lastName: null,
      phone: null,
      email: null,
      agency: null,
      comment: null,
    },

    date: null,
  }),
  methods: {
    show() {
      this.showDialog = true;

      if (!this.isAssociated) this.getAcency();
    },
    hideDialog() {
      this.showDialog = false;
    },

    getAcency() {
      if (this.optionsAgency.length == 0) {
        let url = "oficinas?idUsu=" + getItemStorage("idUser");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsAgency = [];
              response.data.data.map((item) => {
                this.optionsAgency.push({
                  value: item.id,
                  label: item.descripcion,
                });
              });
            } else notifyError(this, "Error al obtener los datos ");
          }
        });
      }
    },

    sendData() {
      this.$refs.form.validate().then((response) => {
        if (response) {
          let url =
            "solicitudAgente?idOfi=" +
            getItemStorage("idOffice") +
            "&nombre=" +
            this.object.name +
            "&apellido=" +
            this.object.lastName +
            "&telefono=(502) " +
            this.object.phone +
            "&idOfiCercana=" +
            this.object.agency.value +
            "&canal=AA&idUsu=" +
            getItemStorage("idUser") +
            "&userKey=" +
            getItemStorage("userKey");

          if (this.object.email) {
            url += "&correo=" + this.object.email;
          }
          if (this.object.comment) {
            url += "&comentario=" + this.object.comment;
          }

          request(this, url).then((response) => {
            if (response) {
              if (response.data.estado == 200) {
                notifySuccess(this, response.data.data);

                this.object = {
                  name: null,
                  lastName: null,
                  phone: null,
                  email: null,
                  agency: null,
                  comment: null,
                };

                this.showDialog = false;
              } else {
                notifyError(this, "Se ha producido un error al realizar la solicitud");
              }
            }
          });
        }
      });
    },
    isValidEmail(val) {
      if (val && val.length > 0) {
        const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
        return emailPattern.test(val) || "Correo no válido";
      } else return true;
    },
    getItem(value) {
      return getItemStorage(value);
    },
  },

  watch: {},
};
</script>
