<template>
  <div class="container-nav shadow-1">
    <div class="nav q-mb-md">
      <div
        class="nav-item"
        :class="{ active: pannel == 'Home' }"
        @click="selectItem('Home')"
      >
        <i class="material-icons home-icon icon-grey"> home </i>
        <span class="nav-text">General</span>
      </div>
      <div
        class="nav-item"
        :class="{ active: pannel == 'Users' }"
        @click="selectItem('Users')"
      >
        <i class="material-icons person-icon icon-grey"> person </i>
        <span class="nav-text">Usuarios</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    pannel: "Home",
  }),
  created() {},
  methods: {
    selectItem(name) {
      this.pannel = name;
      this.$emit("selectPannel", name);
    },
  },
};
</script>
<style lang="css" scoped>
.container-nav {
  width: 100%;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: auto;
  background-color: #fff;
  padding: 8px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 6px 25px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-text {
  font-size: 1.2em;
  margin: auto;
  text-align: center;
  font-weight: 500;
  display: none;
  transition: all 0.3s ease;
}

.material-icons {
  display: inline;
  font-size: 32px;
  transition: color 0.3s;
}

/* */

.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: #eee;
  justify-content: flex-start;
}
.icon-grey {
  color: #555;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

.nav-item.active > .material-icons.home-icon,
.nav-item.active > .material-icons.person-icon {
  color: #e53935;
}

.material-icons.home-icon ~ .nav-text,
.material-icons.person-icon ~ .nav-text {
  color: #e53935;
}
</style>
