<template>
  <div>
    <div v-if="data.length > 0">
      <q-item
        v-for="(item, index) in data"
        class="q-pt-md q-pb-md q-mb-sm item-document shadow-1"
        :key="index"
      >
        <q-item-section>
          <q-item-label>{{ item.name }}</q-item-label>
          <q-item-label caption lines="1">{{ item.state }}</q-item-label>
        </q-item-section>

        <q-item-section side center>
          <q-item-label caption>{{ item.openingDate }}</q-item-label>
        </q-item-section>
        <q-btn icon="more_vert" flat text-color="grey" size="md" round class="q-ml-sm">
          <q-menu
            transition-show="scale"
            transition-hide="scale"
            style="min-width: 200px"
          >
            <q-list style="min-width: 200px">
              <!--  <q-item
                      v-if="!closing"
                    clickable
                    v-ripple
                    @click="
                    showComponent('see', item)
                   
                    "
                    v-close-popup
                  >
                    <q-item-section avatar>
                      <q-icon name="far fa-eye" />
                    </q-item-section>
                    <q-item-section>Ver</q-item-section>
                  </q-item> -->
              <q-item
                v-if="!closing"
                clickable
                v-ripple
                @click="showComponent('cajero', item)"
                v-close-popup
              >
                <q-item-section avatar>
                  <q-icon name="fas fa-user" />
                </q-item-section>
                <q-item-section>Cajeros</q-item-section>
              </q-item>
              <q-item
                v-if="
                  !closing &&
                  item.state == 'Por Apertura' &&
                  (showOptionOpen == false && item.state == 'Por Apertura' ? true : false)
                "
                clickable
                v-ripple
                @click="showComponent('dialogConfirm', item)"
                v-close-popup
              >
                <q-item-section avatar>
                  <q-icon name="fas fa-check" />
                </q-item-section>
                <q-item-section>Aperturar</q-item-section>
              </q-item>
              <q-item
                v-if="closing"
                clickable
                v-ripple
                @click="showComponent('closing', item)"
                v-close-popup
              >
                <q-item-section avatar>
                  <q-icon name="fas fa-store-alt-slash"></q-icon>
                </q-item-section>
                <q-item-section>Cierre</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-item>
    </div>
    <div v-else>
      <p class="text-center text-grey q-mt-lg">No se han encontrado datos</p>
    </div>
  </div>
</template>
<script>
import {
  request,
  notifyError,
  notifySuccess,
  getItemStorage,
  setItemStorage,
  Result,
} from "../../js/Util";
export default {
  props: {
    data: Array,
    closing: Boolean,
  },
  created() {
    this.getDate();
    console.log("se ha creado oficna");
  },
  data: () => ({
    date: "",
    showOptionOpen: false,
  }),
  methods: {
    showComponent(name, item) {
      this.$emit("menuAction", name, item);
    },
    getDate() {
      let url =
        "fechaSistema?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 1) {
            this.date = response.data.data;
            if (this.date != getItemStorage("date")) {
              console.log("no son iuales");
              this.showOptionOpen = true;
              setItemStorage("date", this.date);
            } else {
              this.showOptionOpen = false;
              console.log("son iguaels");
            }
          }
        }
      });
    },
  },
};
</script>
