<template>
  <q-dialog
    v-model="showDialog"
    maximized
    transition-show="slide-left"
    transition-hide="slide-right"
  >
    <q-card class="q-mt-58 q-pa-md">
      <toolbar title="Liquidaciones Pendientes" @back="hide"></toolbar>

      <q-select label="Agente" v-model="agent" :options="optionsAgent" @input="getData">
        <template v-slot:prepend>
          <q-icon name="person" />
        </template>
      </q-select>

      <div v-if="data.length > 0" class="q-mt-md" :key="keyData">
        <div class="row q-mb-sm">
          <div class="col text-center text-grey">
            <q-icon color="blue" name="fas fa-plus-circle" /> Depósito
          </div>
          <div class="col text-center text-grey">
            <q-icon color="orange" name="fas fa-minus-circle" /> Pendiente
          </div>
          <div class="col text-center text-grey">
            <q-icon color="green" name="fas fa-check-circle" /> Aplicado
          </div>
        </div>
        <div v-for="(item, index) in data" :key="index" class="q-pa-xs">
          <q-item class="shadow-1 q-pt-lg q-pb-lg item-document">
            <q-item-section>
              <q-item-label>
                No. {{ item.number }} <span class="q-ml-xs q-mr-xs">-</span
                >{{ item.date }}
              </q-item-label>
              <q-item-label caption>
                <q-icon color="blue" name="fas fa-plus-circle" class="q-mr-xs" />
                <span>
                  <money style="display: inline" :amount="item.deposit"></money></span
              ></q-item-label>
            </q-item-section>

            <q-item-section side center>
              <q-item-label caption>
                <q-icon color="orange" name="fas fa-minus-circle" class="q-mr-xs" />
                <money style="display: inline" :amount="item.pending"></money>
              </q-item-label>
              <q-item-label caption>
                <q-icon color="green" name="fas fa-check-circle" class="q-mr-xs" /><money
                  style="display: inline"
                  :amount="item.applied"
                ></money
              ></q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </div>
      <div v-else>
        <p v-if="!$q.loading.isActive" class="text-center text-grey q-mt-lg">
          No se han encontrado liquidaciones pendientes
        </p>
      </div>
    </q-card>
  </q-dialog>
</template>
<script>
import Toolbar from "../common/Toolbar";
import Money from "../common/Money";
import {
  request,
  getItemStorage,
  setItemStorage,
  removeItemStorage,
  notifyInfo,
  notifyError,
  notifySuccess,
  Result,
} from "../../js/Util";
export default {
  components: {
    Toolbar,
    Money,
  },
  data: () => ({
    showDialog: false,
    agent: null,
    optionsAgent: [],
    data: [],
    keyData: 0,
  }),
  methods: {
    hide() {
      this.showDialog = false;
    },
    show() {
      this.showDialog = true;
      this.getOffice();
    },
    getOffice() {
      let url =
        "oficina/all?idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey") +
        "&fechaSis=" +
        getItemStorage("date");

      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == Result.SUCCESS) {
            this.optionsAgent = [];
            if (response.data.data.length > 0) {
              response.data.data.map((item) => {
                let model = {
                  label: item.nombreOfi,
                  value: item.id,
                };
                this.optionsAgent.push(model);
              });
              this.agent = this.optionsAgent[0];
              this.getData();
            }
          } else {
            notifyError(this);
          }
        }
      });
    },
    getData() {
      let url =
        "liquidacion/pendiente?idOfi=" +
        this.agent.value +
        "&idUsu=" +
        getItemStorage("idUser") +
        "&userKey=" +
        getItemStorage("userKey");
      request(this, url).then((response) => {
        if (response) {
          if (response.data.estado == 200) {
            this.data = [];
            response.data.data.map((item) => {
              let model = {
                number: item.numero,
                date: item.fecha,
                state: item.estado,
                deposit: item.deposito,
                pending: item.pendiente,
                applied: item.aplicado,
              };
              if (item.estado == "P") model.state = "Sin Conciliar";
              else if (item.estado == "C") model.state = "Conciliado Cuadrado";
              else if (item.estado == "D") model.state = "Conciliado con Diferencia";
              this.data.push(model);
              this.keyData++;
            });
          } else {
            notifyError(this);
          }
        }
      });
    },
  },
};
</script>
