<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md">
        <toolbar
          title="Solicitud de ahorro"
          @back="hideDialog"
          @send="sendData"
          buttonTitle="Aceptar"
        ></toolbar>

        <div v-if="isAssociated">
          <q-form ref="form">
            <q-select
              bottom-slots
              v-model="object.documentType"
              :options="optionsDocumentType"
              label="Tipo de documento"
              :rules="[(val) => !!val || 'Seleccione tipo de documento']"
              maxlength="100"
              behavior="dialog"
              @input="selectDocument"
              class="q-mt-md"
            />

            <q-input
              ref="client"
              bottom-slots
              v-model="object.document"
              label="No. Documento"
              :rules="[
                (val) => !!val || 'Ingrese no. documento del cliente',
                (val) =>
                  val.length >= object.documentType.mask.length || 'Formato no válido',
              ]"
              maxlength="30"
              @input="validClient"
              :mask="object.documentType.mask"
              :hint="object.nameClient"
              lazy-rules
              :disable="!object.documentType.value ? true : false"
            >
            </q-input>

            <q-select
              bottom-slots
              v-model="object.accountType"
              :options="optionsProducts"
              label="Tipo de cuenta "
              :rules="[(val) => !!val || 'Seleccione tipo de cuenta']"
              maxlength="100"
              behavior="dialog"
            />

            <q-input
              v-model="object.phone"
              label="Teléfono"
              prefix="(502) "
              mask="####-####"
              :rules="[
                (val) => !!val || 'Ingrese teléfono',
                (val) => val.length >= 8 || 'Número de teléfono no válido',
              ]"
              lazy-rules
            />

            <q-input
              label="Comentario (Opcional)"
              type="text"
              v-model="object.comment"
              maxlength="250"
            />
          </q-form>
        </div>
        <div v-else>
          <q-form ref="form">
            <q-select
              bottom-slots
              v-model="object.accountType"
              :options="optionsProducts"
              label="Tipo de cuenta "
              :rules="[(val) => !!val || 'Seleccione tipo de cuenta']"
              maxlength="100"
              behavior="dialog"
              class="q-mt-md"
              @input="selectDocument"
            />

            <q-input
              label="Primer nombre"
              type="text"
              v-model="object.name"
              :rules="[(val) => !!val || 'Ingrese primer nombre ']"
              maxlength="50"
            />

            <q-input
              label="Primer apellido"
              type="text"
              v-model="object.lastName"
              :rules="[(val) => !!val || 'Ingrese primer apellido ']"
              maxlength="50"
            />

            <q-input
              v-model="object.phone"
              label="Teléfono"
              type="tel"
              prefix="(502) "
              mask="####-####"
              :rules="[
                (val) => !!val || 'Ingrese teléfono',
                (val) => val.length > 8 || 'Número de teléfono no válido',
              ]"
              lazy-rules
            />

            <q-input
              v-model="object.email"
              label="Correo electónico (Opcional)"
              type="email"
              lazy-rules
              :rules="[isValidEmail]"
            />

            <q-select
              v-model="object.agency"
              :options="optionsAgency"
              label="Agencia más cercana"
              :rules="[(val) => !!val || 'Seleccione agencia más cercana']"
            />

            <q-input
              label="Comentario (Opcional)"
              type="text"
              v-model="object.comment"
              maxlength="250"
            />
          </q-form>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import {
  request,
  notifyError,
  notifySuccess,
  getItemStorage,
  setItemStorage,
  Result,
  formatToParse,
} from "../../js/Util";
import Toolbar from "../common/Toolbar";
export default {
  components: {
    Toolbar,
  },
  data: () => ({
    showDialog: false,
    isAssociated: false,
    optionsProducts: [],
    optionsDocumentType: [],
    optionsAgency: [],
    object: {
      documentType: {
        label: null,
        value: null,
        mask: "",
      },
      accountType: null,
      document: null,
      comment: null,
      name: null,
      lastName: null,
      phone: null,
      email: null,
      agency: null,
      nameClient: null,
      idClient: null,
    },

    date: null,
  }),
  methods: {
    show(isAssociated) {
      this.showDialog = true;
      this.isAssociated = isAssociated;
      this.documentsType();
    },
    hideDialog() {
      this.showDialog = false;
    },
    sendData() {},
    showPopup(qDate, model) {
      let systemDate = getItemStorage("date").split("/");
      var date = new Date(systemDate[1] + "/" + systemDate[0] + "/" + systemDate[2]);
      this.$refs[qDate].show();

      if (this.object[model] == "") {
        //fecha con el formato : DD/MM/YYYY
        let month =
          date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;

        let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

        this[model] = date.getFullYear() + "/" + month + "/" + day;
      }
    },

    documentsType() {
      if (this.optionsDocumentType.length == 0) {
        let url =
          "tipo/identificacion?idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");

        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsDocumentType = [];
              response.data.data.map((item) => {
                this.optionsDocumentType.push({
                  value: item.id,
                  label: item.descripcion,
                  mask: this.formatMask(item.mascara),
                });
              });

              this.getProducts();
              if (!this.isAssociated) this.getAcency();
            } else notifyError(this, "Error al obtener los datos ");
          }
        });
      } else {
        this.getProducts();
        if (!this.isAssociated) this.getAcency();
      }
    },
    getProducts() {
      if (this.optionsProducts.length == 0) {
        let url =
          "productos/all?idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey");

        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsProducts = [];
              response.data.data.map((item) => {
                this.optionsProducts.push({
                  value: item.id,
                  label: item.descripcion,
                });
              });
            } else notifyError(this, "Error al obtener los datos ");
          }
        });
      }
    },
    getAcency() {
      if (this.optionsAgency.length == 0) {
        let url = "oficinas?idUsu=" + getItemStorage("idUser");
        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              this.optionsAgency = [];
              response.data.data.map((item) => {
                this.optionsAgency.push({
                  value: item.id,
                  label: item.descripcion,
                });
              });
            } else notifyError(this, "Error al obtener los datos ");
          }
        });
      }
    },
    formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else newMask += item;
        });
      }

      return newMask;
    },
    selectDocument() {
      this.object.client = null;
    },
    validClient(val) {
      if (val && val.length >= this.object.documentType.mask.length) {
        let url =
          "cliente/valid?idUsu=" +
          getItemStorage("idUser") +
          "&userKey=" +
          getItemStorage("userKey") +
          "&noDocumento=" +
          val;

        request(this, url).then((response) => {
          if (response) {
            if (response.data.estado == 200) {
              if (response.data.data) {
                this.object.nameClient = response.data.data.nombre;
                this.object.idClient = response.data.data.id;
              } else {
                notifyError(this, "El número de documento ingresado no es válido");
                this.object.nameClient = null;
              }
            } else {
              notifyError(this, "Error al obtener datos ");
            }
          }
        });
      }
    },
    sendData() {
      this.$refs.form.validate().then((response) => {
        let url;
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        if (response) {
          if (this.isAssociated) {
            url =
              "solicitudProducto/asociado?idTipoCuenta=" +
              this.object.accountType.value +
              "&idTipoIdentificacion=" +
              this.object.documentType.value +
              "&idOfi=" +
              getItemStorage("idOffice") +
              "&noDocumento=" +
              this.object.document +
              "&telefono=(502) " +
              this.object.phone +
              "&fechaSis=" +
              getItemStorage("date") +
              " " +
              time +
              "&canal=AA&idUsu=" +
              getItemStorage("idUser") +
              "&userKey=" +
              getItemStorage("userKey") +
              "&idCli=" +
              this.object.idClient;

            if (this.object.comment) {
              url += "&comentario=" + this.object.comment;
            }
          } else {
            url =
              "solicitudProducto?idTipoCuenta=" +
              this.object.accountType.value +
              "&idOfi=" +
              getItemStorage("idOffice") +
              "&nombre=" +
              this.object.name +
              "&apellido=" +
              this.object.lastName +
              "&telefono=(502) " +
              this.object.phone +
              "&idOfiCercana=" +
              this.object.agency.value +
              "&canal=AA&idUsu=" +
              getItemStorage("idUser") +
              "&userKey=" +
              getItemStorage("userKey") +
              "&fechaSis=" +
              getItemStorage("date") +
              " " +
              time;

            if (this.object.email) {
              url += "&correo=" + this.object.email;
            }
            if (this.object.comment) {
              url += "&comentario=" + this.object.comment;
            }
          }

          request(this, url).then((response) => {
            if (response) {
              if (response.data.estado == 200) {
                notifySuccess(this, response.data.data);

                this.object = {
                  documentType: {
                    label: null,
                    value: null,
                    mask: "",
                  },
                  accountType: null,
                  document: null,
                  comment: null,
                  name: null,
                  lastName: null,
                  phone: null,
                  email: null,
                  agency: null,
                  nameClient: null,
                  idClient: null,
                };

                this.showDialog = false;
              } else {
                notifyError(this, "Se ha producido un error al realizar la solicitud");
              }
            }
          });
        }
      });
    },
    isValidEmail(val) {
      if (val && val.length > 0) {
        const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
        return emailPattern.test(val) || "Correo no válido";
      } else return true;
    },
    getItem(value) {
      return getItemStorage(value);
    },
  },

  watch: {},
};
</script>
