<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  created(){
    if(window.cordova){
        StatusBar.show();
     
    }

  }
}
</script>